<a href="https://colab.research.google.com/github/KimYeongJo/backend_Bootcamp_ESTsoft_ormi/blob/main/Colab_%ED%95%99%EC%8A%B5%EC%9E%90%EB%A3%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

* 선택 마크다운(필수가 아니니 부담가지지 마세요.)

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    ---

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문 작성하기
    `인라인 코드는 이렇게 작성해요.`

    [인라인 링크](https://velog.io/)

    ![이미지 설명](이미지 링크)
    
    * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
    
    | 1 | 2     | 3 | 4 | 5     |
    |---|-------|---|---|-------|
    | 1 | hello | 3 | 4 | world |

    * [ ] hello
    * [X] hello
    ```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
	print('큰 따옴표로 세번 묶거나')

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello(x):
    return x**2

class A: # 자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
# type -> string

hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 url parsing을 이렇게 사용하고 있어요.)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

hello \n world
hello
 world 10

In [ ]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

0.0023
0.0023

0.0023

In [ ]:
type(2.3E-3)

float

In [ ]:
class A: # 자동차 공장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

(139737727205904, 139737727205904)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(139736413794128, 139736413797264)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

(139737727205424, 139737727205424)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 메직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

139737727205904 139737727205904 139737727205904

In [ ]:
x = 10
y = x
x = 100

print(x, y)
print(id(x), id(y), id(z))

100 10
139737727208784 139737727205904 139737727205904

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 10

π = 3.14 # 권하지 않습니다.
print(π)

_ = 100 # 언더바는 자주사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100

In [ ]:
# print('hello')

In [ ]:
print(a)

## 입력과 출력

In [ ]:
x = input()
x

10

'10'

In [ ]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [ ]:
print(10, 10, 10)

10 10 10

In [ ]:
print('hello', 'world', 'hello')

hello world hello

In [ ]:
print(x, x)

10 10

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [ ]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-')

hello!world
010-5044-2903

In [ ]:
이름 = '이호준'
나이 = 10

print('1. 제 이름은 이호준입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'4. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 이호준입니다. 제 나이는 10입니다.
2. 제 이름은 이호준입니다. 제 나이는 10입니다.
3. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100 * 10}')

1000

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 * 10
print(f'{result}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":!<10}')
print(f'{"hello":!>10}')
print(f'{"hello":!^10}')

hello!!!!!
!!!!!hello
!!hello!!!

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

hello=====
=====hello
==hello===

In [ ]:
# 둘 다 잊으셔도 됩니다.
# 어디에 활용되는지 궁금하다 하신 분이 있으셔서 해드린 것입니다.
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
bin(9 | 30)[2:].replace('1', '#').replace('0', ' ')

'#####'

In [ ]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [ ]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다. 참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
    5
5
  5
50000
   5.00

## int (정수)

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
a = 1234567899999999999999999999999999999999999999999999999999999
print(type(a))
# 2.x에서는 int와 long 두 가지가 있었는데 Python3에서는 int만 있습니다! 아무리 큰 수가 담겨도 int!

<class 'int'>

In [ ]:
a = 10**100 # 구골(googol)
print(a)
print(type(a))

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
<class 'int'>

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' # bit로 바꾸었을 때 비트의 길이
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024KB
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

4

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다. 
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다. 
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.
# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
# color의 표현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미
# 100 - 1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10') + int('10')

20

In [ ]:
int('10', 2) # 2진법으로 10은?

2

In [ ]:
int('10', 8) # 8진법으로 10은?

8

In [ ]:
int('10', 16) # 16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

6

In [ ]:
type(0b110)

int

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

True

## float (실수)

In [ ]:
a = 10.1

type(a)

float

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
# 20번 반복해보세요.
a = a + 0.1
a

1.0999999999999999

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

### !! 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing 이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper()
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

(8, 8)

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버 이미지 슬라이딩 코드
# bool(s.find('Z')) -> -1 은 True이기 때문에 주의가 필요합니다.
s.find('Z')

True

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 Javascript
s.index('Z')

ValueError: ignored

In [ ]:
s = 'paullab CEO leehojun'
s.find('CEO')

8

In [ ]:
# 별 5개
s = 'paullab CEO leehojun'
s.count('l')

3

In [ ]:
str([1, 2, 3, 4, 5])

'[1, 2, 3, 4, 5]'

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [ ]:
str([1,2,3,4,5]).count(' ')
# list 는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list 는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

In [ ]:
'hello'.count('')

6

In [ ]:
''.count('')

1

In [ ]:
'' + ''

''

In [ ]:
str([1, 2, 3, 4, 5]).count(',')

4

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

6

In [ ]:
str(list(range(0, 10001))).count('8')

4000

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
'   hello   !   '.strip() # 공백제거 메서드

'hello   !'

In [ ]:
'   hello   !   '.rstrip()

'   hello   !'

In [ ]:
'   hello   !   '.lstrip()

'hello   !   '

In [ ]:
# 별 5개
'hello world hi'.replace(' ','!')
'hello world hi'.replace('world','W@O@R@L@D').upper()

'HELLO W@O@R@L@D HI'

In [ ]:
'hello world hi'.replace('world','W@O@R@L@D').upper().split('@')
# 반환값이 list 이기 때문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 합니다.

['HELLO W', 'O', 'R', 'L', 'D HI']

In [ ]:
'hello world hi'.replace(' ','')

'helloworldhi'

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ','').replace('"', '')

# Pythonic 하지 않다
data.split('\n')[0].replace(' ',
                '').replace('"',
                '')

# Pythonic 하게 하려면
data.split('\m')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\

#강사님이 사용하는 기법
processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
processed_string.split('\n')[0].replace('"', '').replace('"', '')

'++-+-+-'

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord 는 문자를 가지고 숫자로 변경 chr 은 숫자를 가지고 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

'j'

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') # 문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

['paullab', 'CEO', 'leehojun']

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ','-').split('-')

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가게 됩니다.

['010', '5044', '2903']

In [ ]:
# '01050442903'.split('') # 빈 문자열을 넣지는 못합니다.

In [ ]:
list(map(int,'010 5044 2903'.split(' ')))

[10, 5044, 2903]

In [ ]:
int('010')

10

In [ ]:
# print(010) # error

SyntaxError: ignored

In [ ]:
num = '010 5044-2903'.replace('-', ' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용

list(map(int,'010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것 입니다.
# 원본을 변경시키지 않습니다.

[10, 5044, 2903]

In [ ]:
s = []
for i in '010 5044-2903'.replace('-', ' ').split(' '):
    s.append(int(i))
s

# 요 코드를 추천합니다.
[int(i) for i in num]

[10, 5044, 2903]

In [ ]:
# 지금 진도에서 과하기 때문에
# 지금은 잊으셔도 됩니다.
# 뒤에서 상세하게 다룹니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

[10, 5044, 2903]

In [ ]:
# 별 4.5개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

'hello world hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

(False, False)

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

(False, False)

In [ ]:
# 퀴즈
# 숫자를 모두 더라하!
result = 0
for i in '123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) # result = result + int(i)
result

19

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

True

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

'     paullab CEO leehojun     '

In [ ]:
'hello'.zfill(20) # 데이터의 빈 공간을 0 으로 채워줍니다.

'000000000000000hello'

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0', '-')

'-----hello'

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab  CEO  leehojun'

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

'paullab  CEO  leehojun'

In [ ]:
규칙테이블 = str.maketrans('\n\t', '  ')
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab     CEO     leehojun'

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep20 에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8 이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python (https://peps.python.org/pep-0020/) # 이스터에그로 숨겨져 있습니다.
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython 입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

'pulbCOleou'

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun!'
s[:] # string 에서는 많이 사용하지 않지만 list 에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test2[0] = 1000
test, test2

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2 에게 줍니다.
test2[0] = 1000
test, test2

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

'hello worldhello worldhello world'

## 형변환

* 형변환 : type 을 변경하는 것 입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error!

dsa

ValueError: ignored

In [ ]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error
x + x

asd

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 불가능

10.1

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것 입니다.
# Python 에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

"{'one': 1, 'two': 2}"

In [ ]:
# 별 5개
# bool 형으로 형변환 하는 것
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False 이기 때문에 True
bool(0) # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드, False
bool([]) # 컨벤션 자료형은 비어있으면 False 입니다.
bool({})

hi
hi
3
2
1

False

In [ ]:
# list 로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [ ]:
s = 'leehojun'
l = list(s)
l

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

In [ ]:
# tuple 로 형변환
s = 'leehojun'
l = tuple(s)
l

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [ ]:
# dict 로 형변환
# name = 'leehojun' # error
# dict(name)

s = [('name', 'leehojun'), ('age', 10)]
d = dict(s)
d

{'name': 'leehojun', 'age': 10}

In [ ]:
# set(집합) 으로 형변환
name = 'leehojun'
set(name)

{'e', 'h', 'j', 'l', 'n', 'o', 'u'}

In [ ]:
len('hello world') #__len__
len([1, 2, 3, 4])

4

In [ ]:
# 2번
a = input("문자를 입력해주세요!")
print(a * 2)

문자를 입력해주세요!ㅁㄴㅇ
ㅁㄴㅇㅁㄴㅇ

In [ ]:
print(input('문자를 입력해주세요!') * 2)

문자를 입력해주세요!ㅇㅁㄴ
ㅇㅁㄴㅇㅁㄴ

In [ ]:
# 3번
num = 1234567890
list(str(num))
list(str(num))[3]

'4'

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫 만 나옵니다. (정수만)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}') # 제곱
print(f'10 % 3 == {a % b}') # 나머지

10 + 3 == 13
10 - 3 == 7
10 / 3 == 3.3333333333333335
10 // 3 == 3
10 * 3 == 30
10 ** 3 == 1000
10 % 3 == 1

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도
# 코딩하는데 큰 무리가 없습니다.
# (모르시면 읽는데 어려움이 생기기도 합니다.)

print(3 ** 2 * 3)
print(3 * 3 ** 2)
# 곱하기 보다 제곱이 우선순위가 더 높습니다.
print(3 + 3 * 2)

27
27
9

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

10 > 3 == True
10 >= 3 == True
10 < 3 == False
10 <= 3 == False
10 == 3 == False
10 != 3 == True

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not 은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True 가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and 는 언제 True 가 되나요?
# 모두 True 일 때만 True
# or 는 언제 True 가 되나요?
# 둘 중에 하나라도 참이라면 True

False
True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
print(result)

2418

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
# python 입장에서 보는 코드
# False and ??? -> 물음표에 무엇이 나오든 False
# 그래서 Python 도 저 물음표를 보지 않습니다.
def solution():
    1/0

if False and solution():
    print('hello')

In [ ]:
# True or ???? -> 물음표에 무엇이 나오든 True
# 그래서 Python 도 저 물음표를 보지 않습니다.
def solution():
    1/0

if True or solution():
    print('hello')

hello

In [ ]:
# 단락 평가 (컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

'licat'

In [ ]:
username = 'leehojun' # 사용자가 이름을 입력했을 경우
username = username or 'licat'
username

'leehojun'

In [ ]:
# and 와 or 의 우선순위 (and 가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
15
16
18
20
0
2
4
6
8
10
12
14
15
16
18
20

In [ ]:
# 아래는 출력되는 값이 다릅니다! 우선순위가 낮은 or 가 먼저 나왔기 때문입니다.
# 결론 : 헷갈리시면 괄호를 사용하세요.
for i in range(101):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(101):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

0
6
10
12
18
20
24
30
36
40
42
48
50
54
60
66
70
72
78
80
84
90
96
100
0
3
6
9
10
12
15
18
20
21
24
27
30
33
36
39
40
42
45
48
50
51
54
57
60
63
66
69
70
72
75
78
80
81
84
87
90
93
96
99
100

## 비트연산 (중요도 하)

In [ ]:
# and
# 1001 == 9
# 0010 == 2
# ----
# 0000

In [ ]:
9 & 2

0

In [ ]:
9 & 8

8

In [ ]:
# or (더하기, 대신 자리올림이 되진 않습니다.)
# 1001 == 9
# 0011 == 3
# ----
# 1011 == 11

9 | 3

11

In [ ]:
# xor (같은 경우 0, 다를 경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010 == 10
9 ^ 3

10

In [ ]:
~9 # 2의 보수를 취하는 것 입니다. (9 에게 +1 한 다음에 - 를 취하면 됩니다.)
~-7

6

In [ ]:
3 << 2
# 3 을 2진수로 표현하면 11 인데 2칸을 왼쪽으로 미는 것 입니다.
# 1100

12

In [ ]:
7 >> 2

1

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a = + 10 # 이렇게 a 를 지우면 양수를 표현하는 10 만 남아요.
a

10

In [ ]:
a = 10
a += 10 # a = a + 10
a

20

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

1

In [ ]:
#Python 에서 특이하게 ++a, ++, a++, b++ 가 없습니다.

##

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python 에 
# 컨벤션 자료형이 어떻게 구성이 되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

True

In [ ]:
a = 999
b = 999
a is b

False

In [ ]:
a = [1, 2 ,3]
b = [1, 2, 3]
a is b

False

In [ ]:
a[0] = 100
a, b

([100, 2, 3], [1, 2, 3])

In [ ]:
a = [1, 2 ,3]
b = [1, 2, 3]
a == b # Python 에 등호는 type 과 valeu 를 봅니다.

True

In [ ]:
# is 는 주소값을 비교합니다.
id(a) == id(b) # 이게 False 면 is 도 False 입니다.

False

## not의 위치

In [ ]:
a = 10
b = 100
a is not b
# a not is b # error

True

In [ ]:
a = 10
b = [10, 20, 30]
a not in b

False

## 멤버연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a', 'b']
'a' in {'a':10, 'b':20}
# 10 in {'a':10, 'b':20} # dict 안에 있는 value 값이 있는지 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

True

In [ ]:
'a' not in ['aa', 'bb']

True

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], 20, 30]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set([10, 20]).issubset(set([10, 20, 30]))
{10, 20}.issubset({10, 20, 30, 40})

True

## !! 연습문제

In [ ]:
# 1번
1. False
2. True
3. True
4. True

In [ ]:
# 2번
False

In [ ]:
# 3번
c = int(input())
result = (c // 100)
result

2000

20

In [ ]:
# 4번
# 그리디 알고리즘 (욕심쟁이 알고리즘)
money = int(input('금액 입력 : '))
a = 0
b = 0
c = 0
d = 0
while money > 0:
    if money >= 5000:
        a += 1
        money -= 5000
    elif money >= 1000:
        b += 1
        money -= 1000
    elif money >= 500:
        c += 1
        money -= 500
    else:
        d += 1
        money -= 100
print(f'5000원 : {a}개, 1000원 : {b}개, 500원 : {c}개. 100원 : {d}개')

금액 입력 : 6600
5000원 : 1개, 1000원 : 1개, 500원 : 1개. 100원 : 1개

In [ ]:
# 4번
# 그리디 알고리즘 (욕심쟁이 알고리즘)
money = int(input('금액 입력 : '))

a = money // 5000
money %= 5000
b = money // 1000
money %= 1000
c = money // 500
money %= 500
d = money // 100

print(f'5000원 : {a}개, 1000원 : {b}개, 500원 : {c}개. 100원 : {d}개')

금액 입력 : 6700
5000원 : 1개, 1000원 : 1개, 500원 : 1개. 100원 : 2개

### !! 오늘 배운 것 정리

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
    a
    ```

7. is, in
    1. is
        ```
        a = [1, 2, 3]
        b = [1, 2, 3]

        id(a), id(b)
        a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!
        ```
    2. in
        ```
        'a' in 'helalo world'
        'a' in 'hello world'
        'a' in ['a', 'b']
        'a' in {'a':10, 'b':20}
        # 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
        10 in {'a':10, 'b':20}.values()
        10 in {10, 20, 30}
        ```

## 함수

1. 코드 덩어리 (정말 쉽게 설명하자면)
2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
3. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

# 건축 또는 집짓기?
# 신입사원이 왔을 때
# 3년에 한 번 이직
# 7년에 한 번 이직
# 오래 있으신
부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [ ]:
# 같은 코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 3
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

1
2
3
None

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

two1
two2
one1
one2
one3
200

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

two1
two2
one1
one2
one3
220

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

one
two
three
20
30

In [ ]:
# 함수 연습문제 4
# 좋지 않은 예 입니다!
def one():
    print('one')
    print('one')
    print('one')
    return 10

def two():
    print('two')
    print('two')
    print('two')
    return 10

def three():
    print('three')
    print('three')
    print('three')
    return 10

print(one() + two())
print(one() + two() + three())

one
one
one
two
two
two
20
one
one
one
two
two
two
three
three
three
30

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다.
leehojun = print
leehojun('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(leehojun), id(print)

(140095789798704, 140095789798704)

In [ ]:
l = [leehojun, print, leehojun, print]
leehojun('hello world')
l[0]('hello world')

hello world
hello world

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

hello
hello
hello
None

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()
c(10,100)

110

In [ ]:
def hello(a):
    return a

c = hello(print)
c(10,100)

10 100

## 함수의 기본 기능

![image.png]()

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# return 을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return 을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, '가나다'))

연산할 수 없습니다.

In [ ]:
# 한글코딩의 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋습니다.
# 2. 알고리즘 가독성은 괜찮습니다. 프로젝트는 조금 힘들 수 있어요. 일부 모듈에

# 한글코딩의 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
def one():
    def two():
        print('hello')
    def three():
        print('hello2')
    return 100

print(one())

100

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것 입니다.
def one():
    def two():
        print('hello')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

hello
hello2

NameError: ignored

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print(test)

def two():
    print(test)

one()
two()

10
10

In [ ]:
# 이렇게 하시면 error 가 납니다! 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test = test + 10

one()

UnboundLocalError: ignored

## 지역 변수와 전역 변수

In [ ]:
# 전역번수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드 입니다.
# 권하지 않습니다.
a = 100
def f():
    global a # 실무에서 사용 안합니다.
    a = a + 1
f()
print(a)

101

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요.
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

101

In [ ]:
# 순수 함수
def f(x):
    return x + x + 100
f(10)
f(20)
# 아규먼트 값에 따라 다르지만
# 아규먼트에 2배해서 100 이 더해진다는 사실은 변하지 않죠?

120

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)
# 아규먼트 값에 따라 다르지만
# 아규먼트에 2배해서 200이 더해진 다는 사실은 변하지 않죠?
# 그렇지 않습니다. test 값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가하게 되는 것!

220

In [ ]:
# 지역변수와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 : 함수 내에서만 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

10
100

In [ ]:
# 어려우신 분들은 pass
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

1000
10
10
100

In [ ]:
# inner 가 outer의 변수를 건드리고 싶은데
# inner 안에서는 x의 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

2
2
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

101
1
101

In [ ]:
# error 가 나는 코드
x = 100
def outer():
    x = 1
    def inner():
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

## 재귀함수

* 내가 나를 호출하는 것 입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
* 어렵고 효율도 안좋아요!
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행시키지 마세요.
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for 로 펙토리얼
# 5! = 5 * 4 * 3 * 2 * 1
result = 1

# 1 * 2 * 3 * 4 * 5
for i in range(1,6):
    result *= i

result

120

In [ ]:
# 재귀 로 펙토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)

f(5)

'''
f(5)    5 * f(4) == 5 * 24 -> 120
f(4)    5 * f(4) == 4 * 6
f(3)    5 * f(4) == 3 * 2
f(2)    5 * f(4) == 2 * 1
f(1)    1
'''

120

In [ ]:
# for 로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result
'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'l' + 'leh'
result = 'o' + 'lleh'
'''
# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문 보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

'olleh'

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

'''
reverse('hello')    reverse('ello') + 'h'   == 'olle' + 'h'
reverse('ello')    reverse('llo') + 'e'     == 'oll' + 'e'
reverse('llo')    reverse('lo') + 'l'       == 'ol' + 'l'
reverse('lo')    reverse('o') + 'l'         == 'o' + 'l'
reverse('o')    'o''
'''

'olleh'

In [ ]:
# 피보나치 for
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21

curr = 1
next = 1

for i in range(1, 6):
    curr, next = next, curr + next
    
next

13

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)

1, 1, f(3), f(4), f(5), f(6)

(1, 1, 2, 3, 5, 8)

In [ ]:
f(37)

24157817

In [ ]:
# 재귀의 비효율을 이렇게 해결할 수는 있다를 보여드리기 위함
# but 가능하면 for문을 이용해주세요.
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

## !! 연습문제

In [ ]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

I
love
python

In [ ]:
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
    return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
plus = lambda num1, num2 : num1 + num2
minus = lambda num1, num2 : num1 - num2
multiply = lambda num1, num2 : num1 * num2
divide = lambda num1, num2 : num1 / num2


print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

plus : 15
plus : inf
plus : inf
plus : inf
plus : inf
plus : inf
plus : inf
plus : inf

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

plus : 15
plus : inf
plus : inf
plus : 105
plus : inf
plus : 11
plus : 5
plus : 20.1

In [ ]:
def square(x, n):
    if n == 0:
        return 1
    return x * square(x, n - 1)
square(4, 4)

256

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 합니다.
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3)
제곱3(4)

81

## list (리스트)

* 순서를 가진 데이터들의 집합 (Sequence)
* 리스트는 값의 변경
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다.

In [ ]:
l = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

(139889285684144, 139889285684144)

In [ ]:
# 컨벤션 자료형 (딕셔너리, 튜플, 셋, 리스트)
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10, 20, 30, 40]
l[0] = 1000
l

[1000, 20, 30, 40]

In [ ]:
s = 'hello world'
s[0] = 'k' # error
s

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
    
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data[0]

[1, 2, 3]

In [ ]:
data[0][0]
[1, 2, 3][0]

1

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
        
data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

for i in range(3):
    for j in range(3):
        data[i][j] *= 2
        
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
'''
3                   == 스칼라
[3, 4]              == 백터
[[1, 2, 3],         == 매트릭스(행렬)
 [4, 5, 6],
 [7, 8, 9]]
[[[1], [2], [3]],   == 텐서(다차원, 3차원 이상)
 [[4], [5], [6]],
 [[7], [8], [9]]]

 텐서플로우 : 인공지능 중 유명한 라이브러리
 '''

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10] * 2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
[1, 2, 3] + [1, 2, 3] # 많이 사용합니다

[1, 2, 3, 1, 2, 3]

In [ ]:
[1, 2, 3] + 1 # error

In [ ]:
id(x[0][0]), id(x[0][1])

(139890534826512, 139890534826512)

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'],
 None)

## 리스트의 메서드

In [ ]:
# 'append','clear','copy','count','extend','index',
# 'insert','pop','remove','reverse','sort'

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
l.append([1, 2, 3])
l

[1, 2, 3, [1, 2, 3]]

In [ ]:
l = [1, 2, 3]
l.extend(4) # error
l

In [ ]:
l = [1, 2, 3]
l.extend('hello')
l

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1, 2, 3]
l.extend({'one':10, 'two':20})
l

[1, 2, 3, 'one', 'two']

In [ ]:
l = [1, 2, 3]
l.extend({10, 20, 30})
l

[1, 2, 3, 10, 20, 30]

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [10, 20, 30]
l.clear()
l

[]

In [ ]:
l = [10, 20, 30]
l = []
l

[]

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 2000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게[:]
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
s = 'hello world'
s[:5]

'hello'

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l[:]
ll

[10, 20, 30, 40, 50]

In [ ]:
id(l), id(ll)

(139889906632256, 139890064148736)

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
# 서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게

([['바나나', 3000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
l = [1, 2, 3]
ll = l[:]
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l[0] = 1000
l, ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
# 별 5개
l= [1, 2, 3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l.count(1)

6

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)
a[:a.index(11)]

[10, 1, 1]

In [ ]:
a = [10, 20, 30]
a.insert(2, 1000) # insert 는 값을 지우지는 않습니다.
a

[10, 20, 1000, 30]

In [ ]:
# 별 5개
l = [10, 20, 30, 40, 50]
l.pop()

50

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0) # 많이 사용합니다.
l

[20, 30, 40, 50]

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index 가 들어갈 경우 index 에서 뽑습니다.
# insert : index 에 값을 삽입하고 원래 있던 값을 뒤로 밉니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for문을 돌면서 remove를 하지 않기 바랍니다.
l

[10, 30, 40, 50]

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len 가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

4
3
2
1

In [ ]:
# 무한 반복입니다.
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20)

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20]
for i in range(l.count(20)):
    l.remove(20)
l

[10, 30, 40, 50]

In [ ]:
# 실무에서
# 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
# 조건에 부합하는 것
def f(x):
    return x != 20

# True인 것만 반환해줍니다.
list(filter(f, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
filter(f, [10, 20, 30, 40, 50, 20, 20, 20])

In [ ]:
for i in filter(f, [10, 20, 30, 40, 50, 20, 20, 20]):
    print(i)

10
30
40
50

In [ ]:
list(filter(lambda x: x!=20, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며 원본을 만집니다.
l

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
# l.reverse() : 리스트의 메서드 이며, return None 입니다! 역순, 원본을 만집니다.
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

None

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
reversed(l)

In [ ]:
print(type(range(10)))

<class 'range'>

## sort

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort() # 원본을 만지고, 반환값은 None
l

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
print(sorted([1, 5, 4, 2, 8, 5, 10, 9, 2, 3]))
# 원본을 만지지 않고, 반환값은 정렬된 값
print(l)

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]
[1, 5, 4, 2, 8, 5, 10, 9, 2, 3]

In [ ]:
# 이렇게 실무에서 진행하진 않습니다.
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort()
l.reverse()
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
# 이렇게 많이 사용합니다.
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
l.sort(reverse=True) # 내림차순
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [1, 5, 4, 2, 8, 5, 10, 9, 2, 3]
sorted(l, reverse=True) # 내림차순

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))


# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x:sum(x)))
print(sorted(l, key=sum))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

In [ ]:
# https://codingdojang.com/scode/408?answer_mode=hide
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]

[1, 3, 4, 8, 13, 17, 20]
[3, 4, 8, 13, 17, 20]

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [ ]:
list(zip(point, point[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
def f(x):
    return x[1] - x[0]

print(sorted(zip(point, point[1:]), key=f))

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
def f(x):
    return x[1] - x[0]

sorted(zip(point, point[1:]), key=f)[0]

(3, 4)

In [ ]:
sorted(zip(point, point[1:]), key=lambda x:x[1] - x[0])[0]

(3, 4)

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된값 = sorted(l, reverse=True)
정렬된값 # [76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 = [
            정렬된값.index(l[0]),
            정렬된값.index(l[1]),
            정렬된값.index(l[2]),
       ]
결과값

[2, 0, 1]

### !! 오늘 배운 것 정리

1. 함수
    1. 코드 덩어리(정말 쉽게 설명하면)
    2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
    3. 코드의 구조를 한 눈에 파악할 수 있습니다.
    4. 형태
        ```python
        # 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
        def function(x, y):
            z = x + y
            return z
        print(f'function(5, 7) = {function(5, 7)}')
        ```
    5. 함수 안에 함수와 함수 안에 변수는 밖에서 접근이 불가합니다.
    6. 지역 변수와 전역 변수
        * 전역변수 : 전역에서 접근할 수 있는 변수
        * 지역변수 : 함수 내에서만 접근할 수 있는 변수
        ```python
        # 전역변수는 각 함수에서 접근은 가능하지만 수정이 되진 않습니다.
        # only read
        # global이라는 키워드로 밖에 있는 변수를 수정할 수도 있지만 권하지 않습니다.
        # 권하지 않기에 요약자료에도 없습니다.
        a = 100
        def f():
            a = a + 1
        f()
        ```
    7. 재귀함수
        * 내가 나를 호출하는 것입니다.
        * 재귀 <-> for문은 대부분 호환이 가능합니다.
        * 반복문 사용하시기를 권합니다!
        * 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
        * 필수적으로 사용하는 곳이 있습니다.
        ```python
        def f(n):
            if n <= 1:
                return 1
            else:
                return n * f(n-1)

        f(5)
        ```
2. list (리스트)
    * 순서를 가진 데이터들의 집합(Sequence)
    * 리스트는 값의 변경
    * 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
    * 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다
    ```python
    l = [10, 20, 30, 40]
    print(l[0]) # 순서로 값 호출
    l[0] = 1000 # 값의 변경 가능
    print(l)

    data = [[1, 2, 3], # 다차원 배열
        [4, 5, 6],
        [7, 8, 9]]

    print(data)
    ```
    * 리스트 메서드
        * append : 맨 뒤에 값 추가
        * clear : 모든 값 지우기
        * copy : 얕은 복사
        * count : 갯수 세기
        * extend : 확장하기(뒤에 순회 가능한 객체가 들어오면 순차적으로 추가)
        * index : 위치 찾기
        * insert : 삽입하기
        * pop: 맨 뒤에서 값 꺼내기(index가 들어오면 index에서 값 꺼냄)
        * remove : 값 지우기
        * reverse : 역순
        * sort : 정렬

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1, 2, 3], [4, 5, 6]]
ll = l
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
l, ll

([1000, 2000, 3000, 4000, 5000, 6000], [10, 2000, 3000, 4000, 5000, 6000])

In [ ]:
l = [1000, 2000, 3000, 1000, 1000, 1000]
id(l[0]), id(l[3]), id(l[4]), id(l[5])

(139683202577584, 139683202577584, 139683202577584, 139683202577584)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(139683202575280, 139683202575280)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll)

(139683681001792, 139683681125696)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]), id(ll[0])

(139683202849472, 139683202849472)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0] = 100
l, ll

([[1, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll

([[1, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

(139684452221168, 139684452221456)

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]]
ll = copy.deepcopy(l)
ll[0][2][1][0] = 10
l, ll
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

([[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]],
 [[1, 2, [1, [10, 998]]], [4, 5, [2, [333, 332]]]])

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:]
l[0] = 100
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l[:] # l.copy 를 써도 마찬가지입니다.
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# sorted 도 얕은 복사
l = [[1,2], [3, 4], [5, 6]]
ll = sorted(l)
l[0][0] = 100
l, ll

([[100, 2], [3, 4], [5, 6]], [[100, 2], [3, 4], [5, 6]])

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운 다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

## 다차원 **리스트**

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요

a[2][0][5:]

'jun'

## 리스트에서 built-in function을 활용

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) # 최댓값
print(min(a)) # 최솟값
print(sum(a)) # 전체값의값

8
1
36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]
max(a)
min(a)

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

[11, 22, 33, 'aaa']

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]
max(a)
min(a)
sum(a)
max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000],
    # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON 에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3])

['사스트소프트 호텔', 3, 70, 135000]

## 리스트의 순회

In [ ]:
# 1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

# for 변수 in 순회가능한객체
for i in a:
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
# 2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

[1, 2, 3]
---
[11, 22, 33]
---
[13, 20000, 300000]
---
end

In [ ]:
# 2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

1
---
2
---
3
---
11
---
22
---
33
---
13
---
20000
---
300000
---
end

## range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100)))
# python 2.x에서 python 3.x의 range를 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) # 짝수
print(list(range(0, 101, 2))) # 짝수
print(list(range(100, 1, -2)))
print(sum(list(range(0, 101))))
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum 하시는것을 권합니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
5050
5050

## list comprehension

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101))
l = []
for i in range(101):
    l.append(i)
l

In [ ]:
# l = []
# for i in range(11):
#     l.append(i**i)
# l

l = [i**i for i in range(1, 11)]
l

l = [i for i in range(1,11)]
l

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [ ]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)

[i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
t[1] = 1000

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t 가 l 을 참조하고 있다는 것
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

(10, 20, 30)

In [ ]:
type(t), dir(t)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
t = (10, 20, 30, 40, 50, 20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t= tuple('leehojun')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1)
t
t = (1,) # 원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

(1,)

## dict (딕셔너리)

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} # dict
type(d)

d = {10} # set
type(d)

d = dict()
type(d)

d = {'one' : 1}
type(d)

dict

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict(name = 'leehojun', age = 10)

{'name': 'leehojun', 'age': 10}

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) #형변환

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# 연습문제
# dict 와 zip을 사용해서 아래와 같은 형태로 데이터를 만들어주세요.

dict(zip('ABC', [[10, 20], [20, 30], [30, 40]]))
# dict(zip('ABC', [list(elem) for elem in zip([10, 20, 30], [20, 30, 40])]))
# l = [10, 20, 30, 40]
# dict(zip('ABC', zip(l, l[1:])))
# 원하는 현태 {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

{'A': (10, 20), 'B': (20, 30), 'C': (30, 40)}

In [ ]:
'B' in {'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]}

True

In [ ]:
len({'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]})

3

In [ ]:
# 공부해두시면 좋습니다!
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(8) # get 을 사용하면 못 찾는 값을 넣었을 때 default 값을 줍니다.

'요일을 찾지 못했습니다.'

In [ ]:
!python --version

Python 3.10.11

In [ ]:
# 3.10버전 최신 문법에서는 match 문법을 허용합니다.
def number_to_string(agrument):
    match agrument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "nothing"

number_to_string(1)

'one'

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s+= i

547 µs ± 89.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum([i for i in range(10000)])

447 µs ± 63.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum(range(10000))

225 µs ± 4.86 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
{'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A' : [10, 20], 'B' : [20, 30], 'C' : [30, 40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
dict.fromkeys('leehojun')

{'l': None, 'e': None, 'h': None, 'o': None, 'j': None, 'u': None, 'n': None}

In [ ]:
dict.fromkeys('leehojun', 100)

{'l': 100, 'e': 100, 'h': 100, 'o': 100, 'j': 100, 'u': 100, 'n': 100}

In [ ]:
keys = ('name','age','grade')
values = ('leehojun','10','수')

dict.fromkeys(keys, values)

{'name': ('leehojun', '10', '수'),
 'age': ('leehojun', '10', '수'),
 'grade': ('leehojun', '10', '수')}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

{'one': 1, 'two': 2, 'three': '셋'}

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

two
three

In [ ]:
# value만 순회
d = {'two' : 2, 'three' : '셋'}
for i in d:    
    print(d[i])

2
셋

## 언패킹

In [ ]:
# 패킹 : 1, 2, 3 -> [1, 2, 3]
# 언패킹 : [1, 2, 3] -> 1, 2, 3

In [ ]:
a, b, c = 10, 20, 30
a

10

In [ ]:
a, b, c = (10, 20, 30) # 소괄호든 대괄호든 상관 없습니다.
a

10

In [ ]:
i, j = [10, 20]
i

10

In [ ]:
for i, j in [[10, 20], [30, 40], [50, 60]]:
    print(i, j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, []]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 []

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
# swap in c
a = 10
b = 15
temp = a
a = b
b = temp
a, b

(15, 10)

In [ ]:
for i, j in d.items():
     print(i, j)

two 2
three 셋

## max를 이용한 dict 최대 value의 key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
}

# max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
max(d, key = lambda x: d[x])
max(d, key = d.get) # 많이 사용하는 코드입니다.

'test3'

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{' ', 'r', 'e', 'l', 'w', 'h', 'o', 'd'}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10, 20})
print(n)

{1, 2, 3, 4, 20, 10}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

* pop은 실무에서 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다. 높은 확률로 앞에서부터 뽑아내긴 하지만 확률에 기대는 코딩을 하지 않기를 바랍니다. 공식문서에서는 랜덤하게 뽑아낸다고 되어 있습니다.
* https://docs.python.org/3.11/library/stdtypes.html#frozenset.pop

In [ ]:
# 교집합 별 3개
a = {1, 2, 3}
b = {3, 4, 5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합
a = {1, 2, 3}
b = {3, 4, 5}
a | b
a.union(b)
# a + b # error

{1, 2, 3, 4, 5}

In [ ]:
# 차집합
a = {1, 2, 3}
b = {3, 4, 5}
a - b
a.difference(b)

{1, 2}

In [ ]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2}) # False
s.issubset({1, 2, 3, 4, 5, 6, 7, 8}) # True

True

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string     result
# "people"      "peol"

In [ ]:
# my_string     result
# "people"      "peol"

result = ''
for i in "people":
    if i not in result:
        result += i
result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'lope'

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

'peol'

## !!연습문제

In [ ]:
#1
student_score = {
        '홍의' : 97,
        '원희' : 60,
        '동해' : 77,
        '변수' : 79,
        '창현' : 89,
}

print(sum(student_score.values()))
print(sum(student_score.values()) / len(student_score))
print(max(student_score.items())) # 맞긴 했는데 틀림
print(min(student_score.items())) # 틀림 # items() 는 key 를 기준으로 보는듯

In [ ]:
이름 = max(student_score, key = student_score.get)
큰값 = student_score[이름]
print(이름, 큰값)

홍의 97

In [ ]:
가장큰값 = max(student_score.values())
for i in student_score:
    if student_score[i] == 가장큰값:
        print(i, 가장큰값)

홍의 97

In [ ]:
이름 = min(student_score, key = student_score.get)
작은값 = student_score[이름]
print(이름, 작은값)

원희 60

In [ ]:
가장작은값 = min(student_score.values())
for i in student_score:
    if student_score[i] == 가장작은값:
        print(i, 가장작은값)

원희 60

In [ ]:
#2
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

set(like) - set(dislike)

{'라면', '볶음밥', '짜장면', '치킨'}

### !! 오늘 배운 것 정리

1. sort
    * sorted는 원본을 만지지 않는 'built-in function', 정렬입니다.
    * sort는 원본을 만지는 '리스트 메서드', 정렬입니다.
    * sort의 다양한 예
        ```python
        l = [[1, 10, 'leehojun'], 
            [20, 30, 'hojun'], 
            [10, 20, 'weniv!'], 
            [1, 2, 'hello world'], 
            [55, 11, 'sun']]

        # 1. 글자 수 대로 정렬해주세요.
        def f(x):
            return len(x[2])

        print(sorted(l, key=f, reverse=False))
        print(sorted(l, key=lambda x:len(x[2]), reverse=False))

        # 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
        def f2(x):
            return x[0]

        print(sorted(l))
        print(sorted(l, key=f2))
        print(sorted(l, key=lambda x:x[0]))

        # 3. 중앙에 위치한 값대로 정렬해주세요.

        def f3(x):
            return x[1]

        print(sorted(l))
        print(sorted(l, key=f3))
        print(sorted(l, key=lambda x:x[1]))

        l = [[1, 10, 32], 
            [20, 30, 11], 
            [10, 20, 22], 
            [1, 2, 13], 
            [55, 11, 44]]
            
        # 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

        def f4(x):
            return x[0] + x[1] + x[2]

        def f5(x):
            return sum(x)

        print(sorted(l, key=f4))
        print(sorted(l, key=f5))
        print(sorted(l, key=lambda x: sum(x)))
        print(sorted(l, key=sum))
        ```

2. 깊은 복사와 얕은 복사
    1. 깊은 복사 : 완전히 다른 객체를 만듭니다.(깊은 복사는 n 계층까지 모두 복사)
        ```python
        # 깊은 복사
        import copy

        l = [[1, 2, 3], [4, 5, 6]]
        ll = copy.deepcopy(l)
        ll[0][0] = 10
        l, ll
        ```
    2. 얕은 복사 : 내용물은 같은 다른 객체를 만듭니다.(얕은 복사는 1 계층만 복사)
        ```python
        # 얕은 복사
        l = [[1, 2, 3], [4, 5, 6]]
        ll = l[:] # l.copy, sorted를 써도 마찬가지입니다.
        l[0][0] = 100
        l, ll
        ```

3. range
    ```python
    # range(start, stop, step) 
    # 슬라이싱은 ':'(콜론)으로 연결되어 있고
    # range는 ','(콤마)로 연결되어 있습니다.

    print(list(range(100))) 
    # python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
    print(list(range(5, 10)))

    print(list(range(0, 101, 2))) #짝수
    print(list(range(1, 101, 2))) #홀수
    print(list(range(100, 1, -2)))
    print(sum(list(range(0, 101))))
    print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.
    ```

4. list comprehension
    ```python
    # l = []
    # for i in range(1, 11):
    #     l.append(i**i)
    # l

    l = [i**i for i in range(1, 11)]
    l
    ```

5. tuple
    - 튜플은 순서가 있는 시퀀스형 자료형입니다.
    - 참조값은 변경이 불가능(immutable) 합니다.
        ```python
        t = (10, 20, 30)
        t[1] = 1000 # error
        ```
    - 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
    - 값의 중복을 허락합니다.
    - 메서드는 index와 count밖에 없습니다.

6. dict (딕셔너리, 사전형)
    - 딕셔너리는 순서가 없는 자료형입니다.
    - 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
    - 값의 변경이 가능합니다.
        ```python
        d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
        print(d['one']) # 호출
        d['two'] = '투' # 변경
        d
        ```
    - 다른 자료형을 입력할 수 있습니다.
    - 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.
    - dict를 활용한 switch 만들기
        ```python
        def switch(day):
            return {
                1 : '월요일',
                2 : '화요일',
                3 : '수요일',
                4 : '목요일',
                5 : '금요일',
                6 : '토요일',
                7 : '일요일',
            }.get(day, '요일을 찾지 못했습니다.')

        switch(8) 
        ```
    - max를 이용한 dict 최대 value의 key값 가져오기
        ```python
        d = {
            'test1': 10,
            'test2': 20,
            'test3': 31,
            'test4': 11,
        }

        # max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
        max(d, key=lambda x: d[x])
        max(d, key=d.get) #많이 사용하는 코드입니다.
        ```

7. 언패킹
    * 언패킹 예
        ```python
        for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
            print(i, j, k)
        ```
    * swap 예
        ```python
        # swap
        a = 10
        b = 15
        a, b = b, a
        a, b
        ```

8. set (셋, 집합)
    * 집합 자료형은 중복을 허용하지 않으며
    * 순서가 없는 자료형
        ```python
        n = set([1, 1, 2, 2, 3, 3, 4])
        print(n)
        ```
    * 메서드
        - add : 값 추가
        - update : 값 여러개 추가
        - remove : 제거
        - copy : 값 복사
        - union : 합집합
        - intersection : 교집합
        - difference : 차집합
        - issubset : 부분집합

## (질의응답) max(student_score, key=student_score.get)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5 ,3, 6, 0, 7, 1]
ll = [10, 20, 30, 40, 50, 60, 70, 80]

max(l, key=함수)

2 30
4 50
5 60
3 40
6 70
0 10
7 80
1 20

7

In [ ]:
def 함수(x):
    print(x, len(ll[x]))
    return len(ll[x])

l = [2, 4, 5 ,3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

2 2
4 1
5 4
3 3
6 11
0 5
7 2
1 1

6

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return d.get(x)

d = {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

max(d, key=함수)
max(d, key=d.get)
# max(d, key=lambda x: d[x])

'test3'

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return  len(x)
l = ['a', 'bb', 'ccc', 'dd']

# max(l, key=함수)
max(l, key=len)

'ccc'

In [ ]:
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수큰사람 = max(수학, key=수학.get) # 학생3
과학점수큰사람 = max(과학, key=과학.get) # 학생6
max(수학, key=과학.get) # 학생1~4 기준 1등인 학생2

'학생2'

## (질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) # 실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen=100, ...)
# 가독성이 좋다

100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(a=100, b=200, c=300) # error
# f(c=300) # error

SyntaxError: ignored

In [ ]:
def f(a, b=20, c=10): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 10 10
100 200 300
100 200 300

## (질의응답) zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)

(1, 'a')

In [ ]:
next(i)

(2, 'b')

In [ ]:
next(i)

(3, 'c')

In [ ]:
next(i) # Stoplteration

StopIteration: ignored

In [ ]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

1
4
9

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

2
3

In [ ]:
# 계속 순회가 가능하게 설계가 되어 있습니다.
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다.
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

1
2
3
1
2
3

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1 and x < 10:
	print('hello')

hello

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if 12309:
    print('hello')

hello

In [ ]:
def f():
    return True # Trune와 False로 바꿔보세요.

if f():
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
def f():
    return False # Trune와 False로 바꿔보세요.

if f():
    print('hello')
    print('one')
print('two')

two

In [ ]:
if '': # [], {}, '' 는 모두 False 취급 합니다.
    print('hello')
    print('one')
print('two')

two

In [ ]:
if ' ': # 공백이 있는 것입니다.
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if [                  ]: # False 취급
    print('hello')
    print('one')
print('two')

two

In [ ]:
if [,]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 공백은 병합니다.
    ]:
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if None:
    print('false')

In [ ]:
if int('11') == int('10'):  # False
    print('hello')

In [ ]:
class int(int):
    def __eq__(self, next): # == 항상 True 로 변경
        return True

# 10 > 11
if int('10') == int('11'):
    print('hello')

hello

In [ ]:
if 10 > 11:
    print('one')
    print('two')
print('three') # 여기서 if문 끝
else: # error
    print('four')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
else: # error
    print('three')

three

In [ ]:
# else 가 없어도 되는 경우
def f():
    if 10 > 11:
        return 'one'
    return 'two'

print(f())

two

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 ->
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        print('one')

if x > 5 and type(x) == int:
    print('one')

one
one

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 ->
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')

if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

one
one

In [ ]:
if True:
    print('hello')
else:
    print('hello')
else: # error
    print('hello')

In [ ]:
if True:
    print('hello')
if True:
    print('hello')
else: # error
    print('hello')

hello
hello

In [ ]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

hello

In [ ]:
elif True: # error 위에 구문이 있어야 합니다.
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if, elif, else 구문은 함께 썻다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

In [ ]:
# Crtl + M, M 누르시면 코드블록이 마크다운 블록이 됩니다

In [ ]:
# Crtl + M, Y 누르시면 마크다운블록이 코드 블록이 됩니다

## if 심화

In [ ]:
# 강사님은 개인적으로 해당 문법이 가독성을 떨어트린다라고 생각해서
# 권장하진 않습니다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

hello

In [ ]:
if 1 > 5: print('hello')
elif 5 > 1: print('world')

world

In [ ]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')

hello world

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

one

In [ ]:
(print('one') if 5 > 1 else print('two'))

one

In [ ]:
# error 이렇게 사용하지 않습니다.
if 5 > 1 print('one') else print('two')

In [ ]:
if 5 > 1:
    print('one')
else:
    print('two')

one

In [ ]:
# 할당이나 return 에서 많이 사용합니다.
# 할당이나 return을 할 때 어떤 조건을 달고 싶을 때
# 그런데 일반 if문과 else문이  거창하다고 생각이 되었을 때
y = 100
x = 'one' if y > 80 else None

In [ ]:
x

'one'

In [ ]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x

print(f(100))
print(f(30))

one
None

In [ ]:
def f(y):
    if y > 80:
        return 'one'
    return None

print(f(100))
print(f(30))

one
None

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(30))

one
None

In [ ]:
def custom_sum(x):
    return sum(x)

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf)

In [ ]:
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

custom_sum([1, 2, 3, 4, 5, 6]) # 21
custom_sum([1, 2, 3, 4, '5', 6]) # float('inf)

inf

In [ ]:
l = [1, 2, 3, '4', '5']
list(filter(lambda x:type(x)==int, l))
len(list(filter(lambda x:type(x)==int, l)))
len(l)

5

In [ ]:
# 문제 : 다음 if문을 3항 연산자로 표현해주세요. (이것만 캐치하시면 OK 입니다!)
if x % 2 == 0:
    홀짝여부 = '짝수'
else:
    홀짝여부 = '홀수'

# 답
x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'
홀짝여부

'짝수'

In [ ]:
# 지금하는 것은 위 보다 빈도도 거의 없고
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1이 False고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False 일 때'

In [ ]:
# '조건1이 True일 때'
# if '조건1'
# else '조건1이 False고 조건2가 True일 때'
#     if '조건2'
#     else '조건1, 조건2가 False 일 때'

In [ ]:
x = 15
if x % 2 == 0:
    배수 = '2X' # 2의 배수
elif x % 3 == 0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다
배수

'3X'

In [ ]:
x = 15
배수 = '2X' if x % 2 == 0 else '3X' if x % 3 == 0 else '?'
배수

'3X'

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#    code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
for i in 10: # error 순회가 가능하지 않음
    print(i)

In [ ]:
for i in 10.1: # error 순회가 가능하지 않음
    print(i)

In [ ]:
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in (1, 2, 3):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {'one':1, 'two':2, 'three':3}:
    print(i) # key 가 출력 됨

one
two
three

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed...
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
언어순위 = ['Python', 'javaScript', 'JAVA', 'Ruby']
for i in 언어순위:
    print(i)

Python
javaScript
JAVA
Ruby

In [ ]:
언어순위 = ['Python', 'javaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위):
    print(i)

(0, 'Python')
(1, 'javaScript')
(2, 'JAVA')
(3, 'Ruby')

In [ ]:
언어순위 = ['Python', 'javaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 1): # 번호 지정
    print(i)

(1, 'Python')
(2, 'javaScript')
(3, 'JAVA')
(4, 'Ruby')

In [ ]:
언어순위 = ['Python', 'javaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 101): # 번호 지정
    print(i)

(101, 'Python')
(102, 'javaScript')
(103, 'JAVA')
(104, 'Ruby')

In [ ]:
언어순위 = ['Python', 'javaScript', 'JAVA', 'Ruby']
for i, j in enumerate(언어순위, 101): # 언팩킹
    print(i, j)

101 Python
102 javaScript
103 JAVA
104 Ruby

### !! 오늘 배운 것 정리
* 조건문
    * 조건에 따라 코드를 분기할 수 있는 구문
    * if, elif, else
    * elif와 else는 단독으로 사용이 되지 않습니다.
    * 예시(score에 값을 변경해보면서 money 값을 확인해주세요.)
    ```python
    score = 81
    money = 0

    if score >= 90: # 만약에 조건이 참이라면
        print('mom : i\'m so happy!')
        money += 1000000
    elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
        print('mom : i\'m happy!')
        money += 100000
    elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
        print('mom : i\'m so...!')
        money += 10000
    elif score >= 60:
        print('mom : i\'m so...!')
        money += 1000
    else:
        print('mom : i\'m...!')
    print(money)
    ```
    * 3항 연산자
    ```python
    def f(y):
    return 'one' if y > 80 else None
    ```
* 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체:
    #     code
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```

In [ ]:
for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [ ]:
for _ in range(3):
    print('hello world')

In [ ]:
for _, i in [[1, 2], [3, 4], [5, 6]]:
    print('hello world')
    print(i)

hello world
2
hello world
4
hello world
6

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i
s

2550

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter = iter(strx)
dictxlter = iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

In [ ]:
# for True: # 이렇게 사용하지는 못합니다.
#    print('hello')

## break와 continue

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
# 모든 for 가 중단이 되는 것은 아닙니다!
# 자신을 감싸고 있는 단일 반복문만 탈출합니다.
for i in range(10):
    print('----------')
    print(i)
    for j in range(10):
        print(i, j)
        if i == 5:
            break

----------
0
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
----------
1
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
----------
2
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
----------
3
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
----------
4
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
----------
5
5 0
----------
6
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
----------
7
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
----------
8
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
----------
9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [ ]:
# continue 는 다음 루프로 갑니다.
# 아래 코드에서 continue는 의미가 없습니다.
for i in range(10):
    print(i)
    if i == 5:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
# continue 는 다음 루프로 갑니다.
# 아래 코드에서 continue는 아래 print를 실행시키지 않고
# 다음 루프로 가게됩니다.
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# 실행과 동시에 정지를 눌러주세요.
# 무한 반복입니다.
# 아래 코드는 효율적이지 못하니
# 뒤에서 배울 generator 로 무한반복을 구현해주세요.
l = [1]
for i in l:
    l.append(i+1)
    print(i)

## for와 else구문

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
for i in range(10):
    if i == 5:
        break
else:
    print('정상종료')

In [ ]:
# 반복문 + else구문은
# 반복문이 정상 종료되었을 때
# else 구문이 실행됩니다.

for i in range(10):
    if i == 5:
        pass
else:
    print('정상종료')

정상종료

## 리스트 표현식(list comprehension)

In [ ]:
# 별 3.5개
# 리스트 안에 반복문이나 조건문을 넣어 한 번에 리스트를 생성하는 기법
# 리스트 표현식은 for보다 빠릅니다! (가독성 + 속도 우위)
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 이정도만 하실 수 있으면 우리 수업에서는 문제 없습니다.
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
list(range(0, 10, 2)) # 이것도 가능하고, 직관적이죠.

[0, 2, 4, 6, 8]

In [ ]:
l = ['aa', 'abc', 'bbb', 'ccc', 'aba']
[i for i in l if 'a' in i]

['aa', 'abc', 'aba']

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    if i % 3 == 0:
        l.append(i)
l

[0, 0, 2, 3, 4, 6, 6, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0 or i % 3 == 0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 == 0 or i % 3 == 0]

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
# [i for i in range(10) if i % 2 == 0 elif i % 3 == 0] # error

In [ ]:
# 구구단
# 손으로 꼭 순회 1번씩 돌아보셔야 합니다.
# for i in range(2, 10):
#     for j in range(1, 10):
#         print(i, j, i * j)


'''
# step 0
# 이렇게 손이나 문자열로 늘여트려놓고
# 내가 무엇을 줄일 수 있을까? 를 고민하세요.
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
'''

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 99)

# 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

for 단 in range(2, 10):
    for i in range(1, 10):
        print(단, i, 단*i)

In [ ]:
# 별찍기
# 트리 만드는 문제도 있고, 원 만드는 문제도 있고...
'''
*
**
***
****
*****
'''

In [ ]:
user_input = int(input('찍을 별의 층수?'))
for i in range(1, user_input + 1):
        print('*' * i)

찍을 별의 층수?3
*
**
***

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append([i, j, i * j])
l

In [ ]:
[[i, j, i * j] for i in range(2, 10) for j in range(1, 10)]

## 다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100, 120, 5]

for i,j in zip(skill_name, skill_point):
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5

In [ ]:
# 이정도 코드만 아셔도 실무하는 것에는 무리가 없습니다.
skill = [
        ('고기잡이', [1, 100]),
        ('고기팔기', [1, 100]),
        ('낚시', [2, 100]),
        ('통발', [2, 100]),
        ('큰그물', [2, 100])
]

for i,j in skill:
    print(i,j)

고기잡이 [1, 100]
고기팔기 [1, 100]
낚시 [2, 100]
통발 [2, 100]
큰그물 [2, 100]

In [ ]:
skill = [
        ('고기잡이', [1, 100]),
        ('고기팔기', [1, 100]),
        ('낚시', [2, 100]),
        ('통발', [2, 100]),
        ('큰그물', [2, 100])
]

for i, [x, y] in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, [x, y] in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', 'ab'), # ('고기잡이', 'abcd') 이런 형태는 error
        ('고기팔기', 'cd'),
        ('낚시', 'aa'),
        ('통발', 'cc'),
        ('큰그물', 'dd')
]

for i, [x, y] in skill:
    print(i, x, y)

고기잡이 a b
고기팔기 c d
낚시 a a
통발 c c
큰그물 d d

In [ ]:
# 문제
# data 는 다음과 같은 데이터가 있습니다.
# 각각 skill 이름, skill 제한 레벌, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]

# 출력값
# 아래와 같은 형시긍로 총 5ㄱ개 출력해야 합니다.
# '축하합니다. S등급의 skill 고기잡이를 습득하셨습니다!
# 해당 스킬은 레벨 제한 1에 스킬 포인트 100 입니다.'

for i, [j, k, l] in data:
    print(f'축하합니다. {l}등급의 skill {i}를 습득하셨습니다!')
    print(f'해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다.')

축하합니다. S등급의 skill 고기잡이를 습득하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.
축하합니다. A등급의 skill 고기팔기를 습득하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.
축하합니다. A등급의 skill 낚시를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.
축하합니다. B등급의 skill 통발를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.
축하합니다. S등급의 skill 큰그물를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다.

## while

In [ ]:
# 반복문 : for, while

a = 1
while a < 10: # True인 동안에
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# while 특정요소:
#     특정요소 값 꺼내는 문법
#     특정요소가 모두 없어질 때까지

l = [1, 2, 3]
while l: # []
    print(l.pop())

3
2
1

In [ ]:
l = {1, 2, 3}
while l:
    print(l.pop())

1
2
3

In [ ]:
# 중복되는 문자열 중 가장 첫번째 나온
# 문자의 index를 반환하라
s = 'abbbbbccdennnnneefefg'
ss = set(s)
while ss:
    string = ss.pop()
    print(string, s.index(string))

n 10
f 17
c 6
b 1
d 8
a 0
e 9
g 20

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진합니다.
# 서버가 뻗을 수도 있습니다.
while True:
    user_input = input('$')
    split_data = user_input.split(' ')
    if split_data[0] == 'mkdir':
        print(f'{split_data[0]} 폴더가 생성되었습니다!')
    elif split_data[0] == 'rmdir':
        print(f'{split_data[0]} 폴더가 삭제되었습니다!')
    elif split_data[0] == 'exit':
        print('프로그램을 종료합니다.')
        break

$mkdir
mkdir 폴더가 생성되었습니다!
$rmdir
rmdir 폴더가 삭제되었습니다!
$exit
프로그램을 종료합니다.

In [ ]:
import random

random.randint(1, 100)

14

In [ ]:
import random
# up down 

result = random.randint(1, 100)

while True:
    user_input = int(input())
    if user_input > result:
        print('down')
    elif user_input < result:
        print('up')
    else:
        print('맞췄습니다!')
        print('프로그램을 종료합니다')
        break

50
down
25
down
13
up
17
up
21
down
19
down
18
맞췄습니다!
프로그램을 종료합니다

In [ ]:
# 구구단이 출력되지 않는 코드
# 한땀한땀 따라가면서 왜 출력이 되지 않는지 체크해보세요.
x = 2
y = 1
while x < 10:
    while y < 10:
        print(x, y, x * y)
        y += 
    y = 1 # 초기화를 해주어야 다음 while에서 y < 10 에 들어갈 수 있습니다.
    x += 1

2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
        break
    count += 1
print('end')

0
1
2
3
4
5
end

In [ ]:
# 무한루프
count = 0.0
while True:
    print(count)
    if count == 0.3: # 부동소수점 문제가 발생할 수 있습니다.
        break
    count += 0.1
print('end')

0.0
0.1
0.2
0.30000000000000004
end

In [ ]:
# 0.30000000000000004
count = 0.0
while True:
    print(count)
    if count >= 0.3:
        break
    count += 0.1
print('end')

0.0
0.1
0.2
0.30000000000000004
end

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
i = 0
while i < 10:
    if i == 5:
        break
    i += 1
else:
    print('정상종료!')

In [ ]:
i = 0
while i < 10:
    i += 1
else:
    print('정상종료!')

정상종료!

* https://school.programmers.co.kr/learn/courses/30/lessons/120871

In [ ]:
# step1
count10 = 0
n = 15
while count10 < n + 1:
    print(count10)
    count10 += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# step2 조건만 간단히 구현
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 33
while count10 < n + 1:
    count10 += 1
    count3 += 1
    if count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자일 수 있습니다
    # 체크를 계속해야하는데 한 번만 합니다
    print(count10, count3)

count3

1 1
2 2
3 4
4 5
5 7
6 8
7 10
8 11
9 13
10 14
11 16
12 17
13 19
14 20
15 22
16 24
17 25
18 26
19 28
20 29
21 31
22 33
23 35
24 37
25 39
26 40
27 41
28 43
29 44
30 46
31 47
32 49
33 50
34 52

52

In [ ]:
# step3 조건만 간단히 구현 -> 조건이 계속 반복되도록
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 10
while count10 < n:
    count10 += 1
    count3 += 1
    while count3 % 3 == 0 or '3' in str(count3):
        count3 += 1

    print(count10, count3)

1 1
2 2
3 4
4 5
5 7
6 8
7 10
8 11
9 14
10 16

In [ ]:
def solution(n):
    count10 = 0
    count3 = 0 # 3x 마을에서 쓰는 숫자
    while count10 < n:
        count10 += 1
        count3 += 1
        while count3 % 3 == 0 or '3' in str(count3):
            count3 += 1
    return count3

In [ ]:
[i for i in range(1, 31) if i % 3 != 0 and not('3' in str(i))][n-1]

16

In [ ]:
def solution(n):
    return [i for i in range(1, 1001) if i % 3 != 0 and not('3' in str(i))][n-1]

## 예외처리(try, except, else)

In [ ]:
# try:
# 	실행문
# except:
# 	예외 발생 시 처리문
# else:
# 	예외 발생하지 않을 경우 실행문

In [ ]:
try:
    i = 1
    j = 0
    x = i/j
except:
    print('error')
else:
    print(x)

error

## 실제 데이터를 가지고 연습 (json gen)

In [ ]:
data = [
    {
        "_id": "6459ca9a0f985c7859459ca6",
        "age": 21,
        "eyeColor": "blue",
        "name": "Hernandez Combs",
        "gender": "male"
    },
    {
        "_id": "6459ca9a913aad22ed3e6d5b",
        "age": 36,
        "eyeColor": "brown",
        "name": "Constance Adkins",
        "gender": "female"
    },
    {
        "_id": "6459ca9afe57a5165e535c5c",
        "age": 27,
        "eyeColor": "blue",
        "name": "Ollie Mills",
        "gender": "female"
    },
    {
        "_id": "6459ca9a5e5f9efc19d1dcf4",
        "age": 36,
        "eyeColor": "brown",
        "name": "Elva Sanchez",
        "gender": "female"
    },
    {
        "_id": "6459ca9af2c0afec578d58fd",
        "age": 22,
        "eyeColor": "brown",
        "name": "Jimenez Knowles",
        "gender": "male"
    }
]

# 반복문을 사용해도 좋지만,
# 반복문을 사용하실 수 없다면 index로만 계산하셔도 좋습니다.

data[0]
data[0]['age']
data[0]['gender']

age_sum = 0
male = 0
female = 0

for i in data:
    age_sum += i['age']
    if i['gender'] == 'male':
        male += 1
    else:
        female += 1
print(f'{age_sum/len(data)}, {male/len(data) * 100}, {female/len(data) * 100})')

28.4, 40.0, 60.0)

In [ ]:
#Lv0
(data[0]['age'] + data[1]['age'] + data[2]['age']) / 5

성별 = []
성별.append(data[0]['gender'])
성별.append(data[1]['gender'])
성별.append(data[2]['gender'])
성별.append(data[3]['gender'])
성별.append(data[4]['gender'])
print(성별)
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

['male', 'female', 'female', 'female', 'male']
40.0
60.0

In [ ]:
#Lv1
age_sum = 0
for i in range(5): # 좋은 코드는 아닙니다.
    age_sum += data[i]['age']
age_sum / 5

성별 = []
for i in range(5):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

40.0
60.0

In [ ]:
#Lv1
age_sum = 0
for i in range(len(data)): # len 으로 변경
    age_sum += data[i]['age']
age_sum / 5

성별 = []
for i in range(len(data)):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

40.0
60.0

In [ ]:
# Lv2

# 평균 (1줄)
#list(map(lambda x:x['age'], data))
sum(map(lambda x:x['age'], data)) / len(data)

# 성별 (1줄)
len(list(filter(lambda x:x['gender'] == 'male', data))) / len(data) * 100
len(list(filter(lambda x:x['gender'] == 'female', data))) / len(data) * 100

In [ ]:
# Q1
# sol1
sum([elem['age'] for elem in data]) / len(data)

# sol2
sum(map(lambda x:x['age'], data)) / len(data)

# Q2
gender = [elem['gender'] for elem in data]
male = gender.count('male')
female = gender.count('female')
print(f'{male/len(gender)*100:.2f} : {female/len(gender)*100:.2f}')

In [ ]:
# solve1
average_age = sum(map(lambda x: x['age'], data))/len(data)
male = len(list(filter(lambda x: x['gender'] == 'male', data)))
female = len(list(filter(lambda x: x['gender'] == 'female', data)))

print(f'평균나이는 {average_age} 입니다.\n성비는 남성 {male} : 여성 {female} 입니다.')

# solve2
average_age = sum(map(lambda x: x['age'], data))/len(data)
gender = list(map(lambda x : x['gender'], data))
gender_count = [gender.count('male'), gender.count('female')]
print(f'평균나이는 {average_age} 입니다.\n성비는 남성 {gender_count[0]} : 여성 {gender_count[1]} 입니다.')

## 알아야 하는 built-in function
    ```
    A
    abs()
    all()
    any()

    B
    bin()
    bool()

    C
    chr()

    D
    dict()
    dir()

    E
    enumerate()
    eval()

    F
    filter()
    float()

    G
    globals()

    H
    help()
    hex()

    I
    id()
    input()
    int()
    isinstance()
    issubclass()
    iter()

    L
    len()
    list()
    locals()

    M
    map()
    max()
    min()

    N
    next()

    O
    object()
    oct()
    open()
    ord()

    P
    pow()
    print()
    property()

    R
    range()
    repr()
    reversed()
    round()

    S
    set()
    setattr()
    slice()
    sorted()
    staticmethod()
    str()
    sum()
    super()

    T
    tuple()
    type()

    V
    vars()

    Z
    zip()
    ```

### 수학적 통계
- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

In [ ]:
abs(-1)
all([True, True, True]) # True
all([True, True, False]) # False
all(['a', 'b', 'ccc']) # True
all(['a', '', 'ccc']) # False
if all([3 > 5, 12 % 2 == 0, 15 % 5 == 0]):
    print('hello')
if all([6 > 5, 12 % 2 == 0, 15 % 5 == 0]):
    print('hello')

pow(2, 3) # 2 ** 3

hello

8

In [ ]:
sum([[1, 2], [3, 4], [5, 6]], [])
sum([1, 2, 3, 4, 5], 100)
# sum([1, 2, 3, 4, 5], {1, 2, 3}) # error

115

In [ ]:
# __len__가 없는 것들 : map, zip,. filter...
class str(str):
    def __len__(self):
        return 1000

len(str('hello world'))

1000

### 형변환 함수
- set( )
- dict( )
- hex( ) : 16진법
- bin( ) : 2진법
- oct( ) : 8진법
- bool( )
- str( )
- ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(유니코드표를 참고하세요.)
- float( )
- tuple( )
- chr( ) : 숫자값을 통해서 문자를 출력합니다.
- list( )
- range( )
- complex( )

In [ ]:
l = [1, 2, 3]
type(l)

list

In [ ]:
# 아래 3개는 int형
# - hex( ) : 16진법
# - bin( ) : 2진법
# - oct( ) : 8진법
bin(7) # 0b111
type(bin(7)) # str
0b111 # 7
type(0b111) # int
int('111', 2) # 7
int('0b111', 2) # 7
int(0b111, 2) # error

In [ ]:
chr(65) # 'A'
ord('A') # 65

65

In [ ]:
# list(range(start, stop, step))
list(range(0, 10, 2))
list(range(0, 10))
list(range(10))
list(range(-10, 10, 2))
list(range(0, -10, -2))

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 작성한 함수
    '''
    pass

help(hojun)

Help on function hojun in module __main__:

hojun()
    이호준이 작성한 함수

### object 관련 함수

* dir()
* id()
* type()

In [ ]:
# dir() # directory 에 약자로 대상이 가진 attribute 를 모두 출력합니다.
# attribute 란 무엇인가? class 에서 배울 멤버 + 메서드 입니다.

In [ ]:
def f():
    return 100

f.name = 'leehojun'
dir(f)
print(f.name)

leehojun

In [ ]:
# 배우는 재미
# 단시간에 될 수 없습니다. -> 경쟁력

In [ ]:
l = 10
# 복사가 제대로 이뤄졌나?
id(l) # 깊은복사, 얕은복사

139844358701584

In [ ]:
type('abc') # str
print(type('abc')) # <class 'str'>
# print(type(f)) # class 가 전체 Python 을 관통하고 있습니다.

<class 'str'>
<class 'function'>

### 유용한 순회 가능 객체

- enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
- range( )
- filter( )
- zip( )
- map( )

In [ ]:
print(type(range(3)))

<class 'range'>

In [ ]:
list(enumerate([10, 20, 30]))

[(0, 10), (1, 20), (2, 30)]

In [ ]:
list(enumerate([10, 20, 30], 100))
# list(enumerate([10, 20, 30], 'abc')) # error 뒤에 숫자를 입력해야 합니다.

[(100, 10), (101, 20), (102, 30)]

In [ ]:
def 함수(x):
    return x > 15

list(filter(함수, [10, 20, 30, 40])) # [20, 30, 40]
list(filter(None, [True, True, False, False])) # [True, True]
# filter에 None 주는 것이 어디에 유용할까요?
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None, [[], 'abc', '', ''])) # ['abc']

['abc']

In [ ]:
list(zip('abc', 'defaaaa', 'ght', [1, 2, 3], [4, 5, 6, 7]))

[('a', 'd', 'g', 1, 4), ('b', 'e', 'h', 2, 5), ('c', 'f', 't', 3, 6)]

In [ ]:
x = [5, 4, 6, 8, 2]
list(zip('abcdefg', sorted(x)))

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

In [ ]:
x = [5, 4, 6, 8, 2]
y = [7, 6, 45, 4, 2, 3, 3]
list(zip('abcdefg', zip(x, y)))

[('a', (5, 7)), ('b', (4, 6)), ('c', (6, 45)), ('d', (8, 4)), ('e', (2, 2))]

## args, kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(*args): # 꼭 args 가 될 필요는 없습니다.
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'leehojun')

(100, True, 'leehojun')
100
True
leehojun

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kargs 가 될 필요는 없습니다.
    print(a)
    print(kwargs)
    for i in kwargs:
        print(i)

print_kwargs(100, name='leehojun', age='10')

100
{'name': 'leehojun', 'age': '10'}
name
age

In [ ]:
def print_kwargs(*kwargs): # * 하나만 하면 Key 만 넘어감
    print(kwargs)
    for i in kwargs:
        print(i)

value = {'one':10, 'two':20}
print_kwargs(*value)

('one', 'two')
one
two

In [ ]:
def print_args(*args, b): # error 입니다 
    print(args)

print_args(100, True, 'leehojun')

In [ ]:
def print_args(b, *args): # error 입니다.
    print(args)

print_args(100, True, 'leehojun')

(True, 'leehojun')

In [ ]:
def print_args(b, *args): # args 앞에 순서대로 넣을 변수가 있어야 합니다.
    print(args)

print_args(100, True, b = 'leehojun')

In [ ]:
one, two, *three = 1, 2, 3, 4, 5 # * 가 하는 역할은? 남은 데이터 패킹
print(one, two, three)

1 2 [3, 4, 5]

## lambda

* lambda 는 익명함수 라고 하며, 이름이 없는 함수

In [ ]:
leehojun = lambda x : x ** 2

# def leehojun(x):
#     return x ** 2

In [ ]:
print(type(leehojun))

<class 'function'>

In [ ]:
print(type(lambda x : x ** 2))

<class 'function'>

In [ ]:
print(dir(lambda x : x ** 2))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
def 함수(x):
    return x ** 2

print(dir(함수))

['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [ ]:
def add(x, y):
    return x + y
def sub():
    pass
def div():
    pass
def mul():
    pass

caculator = [add, sub, div, mul]
print(caculator[0](10, 20)) # 0번째 값은 add 입니다.

caculator2 = [lambda x,y:x+y,
              lambda x,y:x-y,
              lambda x,y:x/y,
              lambda x,y:x*y]

print(caculator2[0](10, 20)) # 0번째 값은 add 입니다.
print(caculator2[0](10, 20))

30
30
30

In [ ]:
def f():
    return lambda x,y:x+y
    
f()(10, 20)

30

In [ ]:
def f():
    return lambda x:lambda i:i**2

f()(1)(10)

100

In [ ]:
def f():
    return lambda x:lambda i:x*i**2

f()(2)(10)

200

### lambda 실무 응용

* lambda 가 응용되는 곳 : map, filter, max, min, sorted

In [ ]:
# 실무에서도 많이 사용됩니다.
def 제곱(x):
    return x ** 2

# 재사용 하는 경우에는 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1, 2, 3, 4]))
list(map(제곱, [1, 2, 3, 4]))

list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
list(zip(숫자, 승수))
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
결과값 = list(map(lambda x,y:x**y, 숫자, 승수))
#3. 승수한 값이 100이상인 값을 출력하세요.
list(filter(lambda x : x >= 100, 결과값))
#4. 승수한 값을 모두 더하세요.
sum(map(lambda x : x, 결과값))

203

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

# Q1
# Q1.1
data = list(zip(숫자, 승수))

# Q1.2 (list comprehension)
data = [i for i in range(len(숫자))]
###
data = [(숫자[i], 승수[i]) for i in range(len(숫자))]
data


# Q2
# Q2.1
l = []
for i in data:
    l.append(i[0] ** i[1])
print(l)

# Q2.2
def f(x):
    return x[0] ** x[1]

print(list(map(f, data)))

# Q2.3
print(list(map(lambda x:x[0] ** x[1], data)))

# Q2.4
print(list(map(lambda x:pow(x[0], x[1]), data)))

# Q2.5 (list comprehension)
[i for i in data]
[i[0] ** i[1] for i in data] # 공간을 바로 할당해버립니다.

# Q3
# Q3.1
l = []
for i in map(lambda x:x[0] ** x[1], data):
    if i >= 100:
        l.append(i)
print(l)

# Q3.2
def f(x):
    return x > 100
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(f, data2)))

# Q3.3
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(lambda x:x>=100, data2)))

# Q3.4
# list(filter(lambda x:x>=100, [1, 4, 9, 64, 125]))
print(list(filter(lambda x:x>=100, map(lambda x:x[0] ** x[1], data))))

# Q3.5
print([i[0] ** i[1] for i in data if i[0] ** i[1] >= 100])

# Q4
sum(map(lambda x:x[0] ** x[1], data))

[1, 4, 9, 64, 125]
[1, 4, 9, 64, 125]
[1, 4, 9, 64, 125]
[1, 4, 9, 64, 125]
[125]
[125]
[125]
[125]
[125]

203

In [ ]:
# 결과값은 다음과 같아야 합니다.
# 1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

# 2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
[1, 4, 9, 64, 125]

# 3. 승수한 값이 100이상인 값을 출력하세요.
[125]

# 4. 승수한 값을 모두 더하세요
203

### !! 오늘 배운 것 정리
* 반복문
    * 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체: # stopItoration까지 반복
    #     code

    # while 조건: # true까지 반복
    #     code 
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```
    * 반복문 다음 else 구문 : break 없이 정상 종료 되면 실행
    * 반복문 안에 break 구문 : 자신을 감싸고 있는 반복문 1개 탈출
    * 반복문 안에 continue 구문 : 다음 루프로 넘어감
    * 반복문 안에 pass : 공백만 채워줄 뿐 아무 기능 없음

* bulit-in function
    * 수학적 통계에 활용되는 함수
        - abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
        - all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
        - any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
        - pow( ) : 제곱을 출력합니다.
        - max( ) : 값의 최댓값을 출력합니다.
        - min( ) : 값의 최솟값을 출력합니다.
        - sum( ) : 값의 합계를 출력합니다.
        - len( ) : 문자열의 길이를 출력합니다.
        - sorted( ) : 데이터를 정렬해줍니다.
        - reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

    * 형변환 함수
        - set( )
        - dict( )
        - hex( ) : 16진법
        - bin( ) : 2진법
        - oct( ) : 8진법
        - bool( )
        - str( )
        - ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(유니코드표를 참고하세요.)
        - float( )
        - tuple( )
        - chr( ) : 숫자값을 통해서 문자를 출력합니다.
        - list( )
        - range( )
        - complex( )

    * 도움말
        - help( )

    * object 관련 함수
        - dir( )
        - id( )
        - type( )

    * 순회 가능한 객체
        - enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
        - range( )
        - sorted( )
        - reversed( )
        - filter( )
        - zip( )
        - map( )

* args, kargs
    * 가변 아규먼트, 가변 키워드 아규먼트
    ```python
    def print_args(*args): # 꼭 args가 될 필요는 없습니다.
        print(args)

    print_args(100, True, 'leehojun')

    ####

    def print_kwargs(**kwargs): # 꼭 kargs가 될 필요는 없습니다.
    print(kwargs)

    print_kwargs(name='leehojun', age='10')
    ```

* lambda
    * lambda 는 익명함수라고 하며, 이름이 없는 함수
    * 보통은 다시 사용되지 않을 함수를 선언할 때 사용
    ```python
    leehojun = lambda x : x**2

    # def leehojun(x):
    #     return x ** 2

    list(map(lambda x : x ** 2, [1, 2, 3, 4]))

## 클래스

* 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할
* 우리가 배우고 있는 Python 은 객체 지향 프로그래밍 언어
    ```
    현실                                코드
    차 ---------------------------> class Car()
    정수 -------------------------> class int()
    실수 -------------------------> class float()

    인간이 만들어 
    놓은 현실 세계에서의 
    정의 또는 약속 --------------> class
    
    1 + 1 = 2가 컴퓨터 입장에서는 10일 수도 있고
    'A' + 'A' = 'AA'가 아니라 컴퓨터 입장에서는 130일 수 있습니다.
    ```

In [ ]:
class CarFactory(object): # 첫 문자는 대문자로 합니다.
    max_speed = 300
    max_people = 5
    # 아래 self는 스스로를 가리키기에
    # self는 인스턴스를 가리킵니다.
    def move(self):
        print('차가 움직이고 있습니다.')
    def stop(self):
        print('차가 멈췄습니다.')

# 클래스로 바로 접근해서 무엇을 하는 것을 권고하지 않습니다.
# (제대로 알지 못하는 상태에서 (인스턴스 변수, 클래스 변수))
print(CarFactory.max_speed)
k5 = CarFactory() # 붕어빵(인스턴스) = 붕어빵 틀(클래스)
k3 = CarFactory() # 차(인스턴스) = 자동차공장(클래스)

300

In [ ]:
class CarFactory(object):
    max_speed = 300
    max_people = 5
    def move(self):
        print('차가 움직이고 있습니다.')
    def stop(self):
        print('차가 멈췄습니다.')

k5 = CarFactory()
k3 = CarFactory()
k5.move()
k3.move()
k5.stop()
k3.stop()
print(k5.max_speed)

차가 움직이고 있습니다.
차가 움직이고 있습니다.
차가 멈췄습니다.
차가 멈췄습니다.
300

In [ ]:
d = {'one' : 10, 'two' : 20}
# d.three = 30
d['three'] = 30
print(d['three'])

30

In [ ]:
def f():
    pass
f.one = 10
f.two = 20
f.three = 30
print(f.one)

10

In [ ]:
# 메서드 : 클래스 내의 함수
# 멤버 : 클래스 내의 변수
class CarFactory(object):
    max_speed = 300
    max_people = 5
    def __init__(self, userInputName): # 인스턴스가 만들어질 때 실행되는 메서드
        self.name = userInputName
    def move(self):
        print(self.name, '차가 움직이고 있습니다.')
    def stop(self):
        print(self.name, '차가 멈췄습니다.')

k5 = CarFactory('케이파이브')
k3 = CarFactory('케이쓰리')
k5.move()
k3.move()
k5.stop()
k3.stop()
print(k5.max_speed)

케이파이브 차가 움직이고 있습니다.
케이쓰리 차가 움직이고 있습니다.
케이파이브 차가 멈췄습니다.
케이쓰리 차가 멈췄습니다.
300

In [ ]:
k3.name
k3.max_speed

300

In [ ]:
print(type(k3))
print(dir(k3))
# 'max_people', 멤버
# 'max_speed', 멤버
# 'move', 메소드
# 'name', 멤버
# 'stop' 메소드

<class '__main__.CarFactory'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'max_people', 'max_speed', 'move', 'name', 'stop']

In [ ]:
l = [10, 20, 30]
print(type(l))
print(dir(l))
# 메소드
# 'append', 'clear', 'copy', 'count', 'extend',
# 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
class list(object):
    def __add__(self):
        pass
    def __class__(self):
        pass
    def __class_getitem__(self):
        pass
    def __eq__(self):
        pass
    def __ge__(self):
        pass 
    # ... 생략 ...
    def append(self):
        pass
    def clear(self):
        pass
    def copy(self):
        pass
    def count(self):
        pass
    def extend(self):
        pass
    def index(self):
        pass
    # ... 생략 ...

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유 합니다.
class Car(object):
    # kinds 가 인스턴스 레벨에서 없어서 그걸 
    # class 변수로 접근하는거고, speed는 값을 = 로 할당했기에
    # 인스턴스 변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name)
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.add_kinds('k5')
k3.add_kinds('k3')
k5.change_speed(500)
k3.change_speed(250)

print('k5.kinds:', k5.kinds)
print('k3.kinds:', k3.kinds)
print('k5.speed:', k5.speed)
print('k3.speed:', k3.speed)

k5.kinds: ['k5', 'k3']
k3.kinds: ['k5', 'k3']
k5.speed: 500
k3.speed: 250

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유 합니다.
class Car(object):
    # kinds 가 인스턴스 레벨에서 없어서 그걸 
    # class 변수로 접근하는거고, speed는 값을 = 로 할당했기에
    # 인스턴스 변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name) # self.kinds = [name]로 사용하면 인스턴스 변수가 됩니다.
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.speed = 500
k3.speed

300

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률

    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다..')

슬라임 = MobFactory('슬라임', 1, 10, 10, 2, 2, 100, 1, 1)
오크 = MobFactory('오크', 10, 10, 10, 2, 2, 80, 1, 1)
고블린 = MobFactory('고블린', 100, 10, 10, 2, 2, 60, 1, 1)
드래곤 = MobFactory('드래곤', 1000, 10, 10, 2, 2, 40, 1, 1)
해골 = MobFactory('해골', 10000, 10, 10, 2, 2, 1, 1, 1)

슬라임.attack()

슬라임이 1데미지로 공격했습니다.
주인공의 체력이 9999가 되었습니다..

In [ ]:
class Character(object):
    def __init__(self, 이름, 체력, 공격력, 마력, 크기_넓이, 크기_높이, x, y)
        self.name = 이름
        self.hp = 체력
        self.power = 공격력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.x = x
        self.y = y

licat = Character('licat', 15, 15, 5, 5, 5, 1, 1)
mura = Character('mura', 15, 5, 15, 4, 4, 1, 1)

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률

    def __add__(self, next):
        if self.name == '슬라임':
            return MobFactory(f'왕{self.name + next.name}', 
                              self.power + next.power, 
                              10, 10, 2, 2, 100, 1, 1)
        return None

    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')
    

슬라임 = 슬라임 = MobFactory('슬라임', 1, 10, 10, 2, 2, 100, 1, 1)
왕슬라임 = 슬라임 + 슬라임

왕슬라임.power
왕슬라임.name

'왕슬라임슬라임'

In [ ]:
# 종수님 코드
class Character(object):
    def __init__(self, 이름, 직업, 외형):
        self.name = 이름
        self.characterClass = 직업
        self.characterModel = 외형
        self.x = 0
        self.y = 0
    
    def change_model(self, newCharacterModel):
        self.characterModel = newCharacterModel
        print(f'외형 변경 {self.characterModel} -> {newCharacterModel}')
    
    def move_left(self):
        self.x += 1
        print(f'현재 좌표 ({self.x}, {self.y})')
    
    def move_right(self):
        self.x -= 1
        print(f'현재 좌표 ({self.x}, {self.y})')

    def move_up(self):
        self.y += 1
        print(f'현재 좌표 ({self.x}, {self.y})')
    
    def move_down(self):
        self.y -= 1
        print(f'현재 좌표 ({self.x}, {self.y})')

licat = Character('licat', 직업=1, 외형=1)
mura = Character('mura', 2, 2)

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '남궁범',
    '2023.05.10',
    )

게시글1.title

'오늘 제주의 날씨'

In [ ]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '남궁범',
    '2023.05.10',
    )

data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# 쉽고 중요한 예제!
# 이 코드는 가능하면 손으로 2~3번 써보시길 권해드립니다.

class BlogFactory(object):
    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '남궁범',
    '2023.05.10',
    )

data = [게시글1, 게시글2, 게시글3]
for i in data:
    if i.writer == '이호준':
        print(i.title)
        print(i.content)
        print(i.writer)
        print(i.count)
        print(i.create_date)

오늘 제주의 날씨
오늘 제주의 날씨는 참 좋네요! 블라블라
이호준
0
2023.05.10

In [ ]:
data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(i.title)
    print(i.content)
    print(i.writer)
    print(i.count)
    print(i.create_date)

오늘 제주의 날씨
오늘 제주의 날씨는 참 좋네요! 블라블라
이호준
0
2023.05.10
오늘 부산의 날씨
오늘 부산의 날씨는 참 좋네요! 블라블라
김재현
1000000
2023.05.10
오늘 강원의 날씨
오늘 강원의 날씨는 참 좋네요! 블라블라
남궁범
10000
2023.05.10

In [ ]:
data = [게시글1, 게시글2, 게시글3]
for i in data:
    print(f'<h2>{i.title}</h2>')
    print(f'<p>{i.content}</p>')
    print(f'<p>{i.writer}</p>')
    print(f'<p>{i.count}</p>')
    print(f'<p>{i.create_date}</p>')

<h2>오늘 제주의 날씨</h2>
<p>오늘 제주의 날씨는 참 좋네요! 블라블라</p>
<p>이호준</p>
<p>0</p>
<p>2023.05.10</p>
<h2>오늘 부산의 날씨</h2>
<p>오늘 부산의 날씨는 참 좋네요! 블라블라</p>
<p>김재현</p>
<p>1000000</p>
<p>2023.05.10</p>
<h2>오늘 강원의 날씨</h2>
<p>오늘 강원의 날씨는 참 좋네요! 블라블라</p>
<p>남궁범</p>
<p>10000</p>
<p>2023.05.10</p>

In [ ]:
# 조금 난이도가 있는 예제이기 때문에
# 기억하지 않으셔도 됩니다.

class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '10000',
    '남궁범',
    '2023.05.10',
    )

게시글1.dataset

for i in 게시글1.dataset:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# x = 10
# y = 10
# x.__add__ = lambda self, next : str(next) + str(next) # error__add__read only

In [ ]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return 'hello'

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

print(게시글1, 게시글2)

hello hello

In [ ]:
# 중요한 예제입니다.

class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return self.title

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

print(게시글1)
print(게시글2)

오늘 제주의 날씨
오늘 부산의 날씨

In [ ]:
# 중요한 예제입니다.

class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return f'제목 : {self.title}, 내용 : {self.content[:5]}, 글쓴이 : {self.writer}'

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )

print(게시글1)
print(게시글2)

제목 : 오늘 제주의 날씨, 내용 : 오늘 제주, 글쓴이 : 이호준
제목 : 오늘 부산의 날씨, 내용 : 오늘 부산, 글쓴이 : 김재현

In [ ]:
# 중요한 예제입니다.

class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return f'{len(self.dataset)}. 제목 : {self.title}, 내용 : {self.content[:5]}, 글쓴이 : {self.writer}'

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '이호준',
    '2023.05.10',
    )
print(게시글1)

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '1000000',
    '김재현',
    '2023.05.10',
    )
print(게시글2)

1. 제목 : 오늘 제주의 날씨, 내용 : 오늘 제주, 글쓴이 : 이호준
2. 제목 : 오늘 부산의 날씨, 내용 : 오늘 부산, 글쓴이 : 김재현

In [ ]:
class UserInfo(object):
    dataset = []

    def __init__(self, 아이디, 비밀번호, 이름, 성별, 전화번호, 이메일, 충전금, 적립금):
        self.아이디 = 아이디
        self.비밀번호 = 비밀번호
        self.이름 = 이름
        self.성별 = 성별
        self.전화번호 = 전화번호
        self.이메일 = 이메일
        self.충전금 = 충전금
        self.적립금 = 적립금
        self.dataset.append(self)

    def 충전(self, 충전금액):
        self.충전금 += 충전금액
        print(f'{충전금액}원 충전하여 {self.충전금}원 남았습니다.')

    def 구매(self, 구매금):
        self.충전금 -= 구매금
        self.적립금 += 구매금 / 100
        print(f'{구매금}원으로 구매하여 {self.충전금}원 남고 {int(round((구매금 / 100)))}원 적립하여, 총 적립금 : {int(round(self.적립금))}원입니다.')

유저1 = UserInfo(
    'happy',
    '1234',
    '김영조',
    '남',
    '010-9487-2736',
    'asdf@naver.com',
    10000,
    0,
    )

유저1.충전(1000)
유저1.구매(2000)

1000원 충전하여 11000원 남았습니다.
2000원으로 구매하여 9000원 남고 20원 적립하여, 총 적립금 : 20원입니다.

In [ ]:
class BookInfo(object):
    dataset = []

    def __init__(self, 제목, 가격, 글쓴이, 판매수):
        self.제목 = 제목
        self.가격 = 가격
        self.글쓴이 = 글쓴이
        self.판매수 = 판매수
        self.dataset.append(self)

    def __str__(self):
        return f'{len(self.dataset)}. 제목 : {self.제목}, 가격 : {self.가격}원, 글쓴이 : {self.글쓴이}, 판매수 : {self.판매수}권'

책1 = BookInfo(
    '눈먼 자들의 도시',
    12000,
    '주제 사라마구',
    100000,
    )

print(책1)

1. 제목 : 눈먼 자들의 도시, 가격 : 12000원, 글쓴이 : 주제 사라마구, 판매수 : 100000권

In [ ]:
import hashlib

비밀번호 = hashlib.sha256()
비밀번호.update('helloworld!'.encode('utf-8'))
비밀번호.hexdigest() # 영화를 집어넣든, 음악을 집어넣든, 소설을 집어넣든, 암호를 집어넣든 모두 64자로 만듭니다.

'98d234db7e91f5ba026a25d0d6f17bc5ee0a347ea2216b0c9de06d43536d49f4'

In [ ]:
# 1번째 스탭
# 공개되는 정보, 공개되지 않는 정보
# 멤버(정적 수치, 문자열)와 메서드(기능)
class Product(object):
    def __init__(self, 품명, 가격):
        self.product_name = 품명
        self.price = 가격

자전거 = Product(
    '자전거',
    100000,
)

class UserInfo(object):
    def __init__(self,
                이름,
                이메일,
                비밀번호,
                주요접속기기,
                주요접속국가,
                주요접속지역,
                마지막접속일자,
                회원가입날짜,
                별명,
                적립금,
                생일,
                휴대폰번호,
                휴대폰인증여부,
                고객등급,
                휴면계정여부):
        self.이름 = 이름
        self.고객등급 = 고객등급
        self.적립금 = 적립금
    
    def 물품구매(self, product):
        self.적립금 -= product.price

    def 회원탈퇴(self):
        pass
    
    def 장바구니등록(self):
        pass

김영조 = UserInfo(
    이름 = '김영조',
    이메일 = 'rladudwh@naver.com',
    비밀번호 = '98d234db7e91f5ba026a25d0d6f17bc5ee0a347ea2216b0c9de06d43536d49f4',
    주요접속기기 = 'Android',
    주요접속국가 = 'Korea',
    주요접속지역 = 'Seoul',
    마지막접속일자 = '23/05/10',
    회원가입날짜 = '23/05/10',
    별명 = '김',
    적립금 = 1000000,
    생일 = '13/13',
    휴대폰번호 = '010-0000-0000',
    휴대폰인증여부 = True,
    고객등급 = 'VIP',
    휴면계정여부 = False
)

김영조.물품구매(자전거)
김영조.적립금

900000

In [ ]:
class Car(object):
    MaxSpeed = 300
    MaxPeoeple = 5
    def __init__(self):
        pass
    def move(self, x):
        pass
    def stop(self):
        print('멈췄습니다.')
    @staticmethod #decorator
    def 스피드배속(현재스피드, 배속할스피드):
        print(f'현재 {현재스피드 * 배속할스피드}의 스피드로 달리고 있습니다.')

Car.스피드배속(100, 2) # 붕어빵 찍는 틀이 얼마나 붕어빵을 만들어 냈는가?

현재 200의 스피드로 달리고 있습니다.

In [ ]:
# 예를 들어
class Hotel:
    pass

Hotel.빈방있는호텔() # 전체 호텔에 빈방이 있는
호텔1.빈방() # 호텔1 의 빈방

### 상속

In [ ]:
# 이 예제는 기억하고 있으셔야 합니다.
class Car:
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

In [ ]:
dir(k3)

In [ ]:
k3 = Car()
Hyk3 = HybridCar()
ElHyk3 = ElectricCar()
# id(k3.maxSpeed), id(Hyk3.maxSpeed)
# id(k3.move), id(Hyk3.move)
ElHyk3.move(10)

10 의 스피드로 달리고 있습니다.

In [ ]:
# 질문 : id를 객체가 아니라 count라는 정수값을 지정해줘서 증가시키고 싶습니다.
# 답 : 아래코드처럼 사용하시면 됩니다.
class BlogFactory(object):

    count = 0

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        BlogFactory.count += 1
        self.id = BlogFactory.count
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

    def __str__(self):
        return f'{self.id}. 제목 : {self.title}, 내용 : {self.content[:5]}'

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글1)
print(게시글2)

#### !! 오늘 배운 것 정리
* 클래스
    * 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할
    * 우리가 배우고 있는 Python을 객체 지향 프로그래밍 언어
        ```
        현실                                코드
        차 ---------------------------> class Car()
        정수 -------------------------> class int()
        실수 -------------------------> class float()

        인간이 만들어 
        놓은 현실 세계에서의 
        정의 또는 약속 --------------> class
        
        1 + 1 = 2가 컴퓨터 입장에서는 10일 수도 있고
        'A' + 'A' = 'AA'가 아니라 컴퓨터 입장에서는 130일 수 있습니다.
        현실세계에서 '인간끼리' 약속을 코드에 세계로 옮긴거에요.
        ```
    * 예제 1
        ```python
        # 메서드 : 클래스 내에 함수
        # 멤버 : 클래스 내에 변수
        # 애트리뷰트 : 멤버 + 메서드
        class CarFactory(object):
            max_speed = 300
            max_people = 5
            def move(self):
                print('차가 움직이고 있습니다.')
            def stop(self):
                print('차가 멈췄습니다.')

        k5 = CarFactory()
        k3 = CarFactory()
        k5.move()
        k3.move()
        k5.stop()
        k3.stop()
        print(k5.max_speed)
        ```
    * 예제2
        ```python
        # 클래스 변수
        # 클래스 바로 하위에 자리하고 있으며
        # 모든 인스턴스가 공유합니다.
        # 인스턴스 변수
        # 인스턴스 영역 안에서만 사용하는 변수
        class Car(object):
            # kinds가 인스턴스에 없기에 class변수로 접근
            # speed는 값을 = 로 할당했기에 인스턴스변수 생성
            kinds = []
            speed = 300
            def add_kinds(self, name):
                self.kinds.append(name) # self.kinds = [name]로 사용하면 인스턴스 변수가 됩니다.
            def change_speed(self, speed):
                self.speed = speed

        k5 = Car()
        k3 = Car()
        k5.speed = 500
        k3.speed # 클래스 변수는 값을 공유한다고 했는데?
        ```
    * 예제3
        ```python
        # 쉽고 중요한 예제!
        # 이 코드는 가능하면 손으로 2 ~ 3번 써보시길 권해드립니다.

        class BlogFactory(object):
            def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
                self.title = 제목
                self.content = 내용
                self.count = 조회수
                self.writer = 글쓴이
                self.create_date = 생성날짜

        게시글1 = BlogFactory(
                '오늘 제주의 날씨',
                '오늘 제주의 날씨는 참 좋네요! 블라블라',
                '0',
                '이호준',
                '2023/05/10',
            )

        게시글2 = BlogFactory(
                '오늘 부산의 날씨',
                '오늘 부산의 날씨는 참 좋네요! 블라블라',
                '1000000',
                '김재현',
                '2023/05/10',
            )

        게시글3 = BlogFactory(
                '오늘 강원의 날씨',
                '오늘 강원의 날씨는 참 좋네요! 블라블라',
                '10000',
                '범남궁',
                '2023/05/10',
            )

        data = [게시글1, 게시글2, 게시글3]
        for i in data:
            if i.writer == '이호준':
                print(i.title)
                print(i.content)
                print(i.count)
                print(i.create_date)
        ```
* 클래스 상속
    * 클래스에서 상속은 상속해주는 클래스(Parent Class, Super class)의 내용(속성과 메소드)을 상속받는 클래스(Child class, sub class)가 가지게 되는 것
    * 코드 예
        ```python
        # 이 예제는 기억하고 있으셔야 합니다.
        class Car:
            maxSpeed = 300
            maxPeople = 5
            def move(self, x):
                print(x, '의 스피드로 달리고 있습니다.')
            def stop(self):
                print('멈췄습니다.')

        class HybridCar(Car):
            battery = 1000
            batteryKM = 300

        class ElectricCar(HybridCar):
            battery = 2000
            batteryKM = 600

        K3 = Car()
        HyK3 = HybridCar()
        ElHyK3 = ElectricCar()
        # id(K3.maxSpeed), id(HyK3.maxSpeed)
        # id(K3.move), id(HyK3.move)

        ElHyK3.move(10)
        ```

In [1]:
print(chr(ord('生') & ord('死')))

愛

In [ ]:
# 우리가 앞으로 알고리즘에서 할 코드입니다.
# 예방주사 차원에서 진행하도록 하겠습니다.

In [5]:
# 아주 간단한 코드입니다.
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

노드1 = Node(10)
노드2 = Node(20)
노드3 = Node(30)

# 노드1.data

노드1.next = 노드2
노드2.next = 노드3

노드1.next.data # 노드2.data
노드1.next.next.data # 노드2.next.data # 노드3.data

30

In [11]:
class Node:
    def __init__(self, data1, data2):
        self.data1 = data1
        self.data2 = data2
        self.next = None

노드1 = Node(10, 11)
노드2 = Node(20, 22)
노드3 = Node(30, 33)

노드1.next = 노드2
노드2.next = 노드3

노드1.next.next.data2

33

In [ ]:
# 김바름님 코드
class Node:
    dataset = []

    def __init__(self, data1, data2):
        self.data = [data1, data2]
        self.next = None
        self.dataset.append(self)

node1 = Node(10,20)
node2 = Node(20,30)
node3 = Node(30,40)

for i in range(len(node1.dataset)-1):
    node1.dataset[i].next = node1.dataset[i+1]

print(node1.data, node1.next.data, node1.next.next.data)

### 메서드 오버라이딩

* 같은 이름이나 함수를 덮어 쓰는 것
* 부모 클래스에서 상속받은 함수를 자식 클래스에서 같은 이름으로 선언하여 사용하는것

In [ ]:
class Car(object):
    maxSpeed = 300
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')

class HybridCar(Car):
    battery = 1000

class ElectricCar(HybridCar):
    battery = 2000

    def move(self, x):
        print(x, '스피드로 달리고 있습니다.')

class Test(ElectricCar):
    pass

ElectricCar.mro() # MRO (Method Resolution Order)

In [13]:
class Car(object):
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

    def move(self, x):
        print(self.batteryKM, '만큼 달릴 수 있습니다.')
        print(x, '스피드로 달리고 있습니다.')

# 자신의 고유의 영역에서 선언된
# 멤버와 메서드를 우선순위로 잡습니다.
k5 = HybridCar()
electricCarK5 = ElectricCar()
k5.maxSpeed
electricCarK5.maxSpeed
electricCarK5.battery
electricCarK5.move(10)

600 만큼 달릴 수 있습니다.
10 스피드로 달리고 있습니다.

In [17]:
class Car(object):
    maxSpeed = 300
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')

class HybridCar(Car):
    battery = 1000

class ElectricCar(HybridCar):
    battery = 2000

    def move(self, x):
        print(x, '스피드로 달리고 있습니다.')

class Test(ElectricCar):
    pass

ElectricCar.mro() # MRO (Method Resolution Order)

[__main__.ElectricCar, __main__.HybridCar, __main__.Car, object]

### 다중상속

In [19]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(B, C):
    pass

D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

### 비공개 속성

In [20]:
# __는 문법 적으로 접근이 안됩니다. : 변수를 보호할 수 있어요.
# 변수를 변경하는 것을 보다 엄격하게  관리할 수 있습니다.

# _는 공식 X
# _는 문법 적으로 접근이 됩니다. (회사 컨벤션마다 다릅니다.)

class Car(object):
    __maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 움직이고 있습니다.')
        print(self.__maxSpeed, '가 최고 속도입니다.')
    def stop(self):
        print('멈췄습니다.')

k5 = Car()
k5.move(10)
# k5.__maxSpeed #error
k5.maxPeople

10 의 스피드로 움직이고 있습니다.
300 가 최고 속도입니다.

5

## 이터레이터

In [22]:
class MyIter:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        self.currentValue += 1
        return self.currentValue

li = MyIter(5)
for i in li:
    print(i)

1
2
3
4
5

In [23]:
raise StopIteration

StopIteration: ignored

In [25]:
class MyIter:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)
for i in li:
    print(i)

for i in li:
    print(i) # 출력 안됨

0
1
2
3
4

In [26]:
class MyIter:
    def __init__(self, stop):
        self.stop = stop

    def __iter__(self):
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)
# for는 iter 먼저 실행하고, next로 StopIteration
for i in li:
    print(i)

for i in li:
    print(i)

0
1
2
3
4
0
1
2
3
4

In [27]:
class MyIter:
    def __init__(self, stop):
        self.stop = stop

    def __iter__(self):
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

li = MyIter(5)
# for는 iter 먼저 실행하고, next로 StopIteration
i = iter(li)
next(i)

0

In [32]:
next(i)

StopIteration: ignored

In [34]:
a, b, c, d = MyIter(4)
print(a, b, c, d)

0 1 2 3

In [33]:
a, b, c, d = range(4)
print(a, b, c, d)

0 1 2 3

## 제너레이터

* 제너레이터란, 이터레이터를 생성해주는 함수

In [36]:
def gen():
    count = 0
    while True:
        yield count
        count += 1

for i in gen():
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [37]:
def gen():
    count = 0
    while True:
        yield count
        count += 2

l = [10, 20, 30, 40, 50]
list(zip(l, gen()))

[(10, 0), (20, 2), (30, 4), (40, 6), (50, 8)]

In [38]:
def gen():
    count = 0
    while True:
        yield f'{count}주차'
        count += 2

과목 = ['HTML', 'CSS', 'JavaScript', 'Python']

list(zip(과목, gen()))

[('HTML', '0주차'), ('CSS', '2주차'), ('JavaScript', '4주차'), ('Python', '6주차')]

In [40]:
def gen():
    count = 1
    while True:
        yield count
        count += 1
        if count == 6:
            count = 1

과목 = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

list(zip(과목, gen()))

[('A', 1),
 ('B', 2),
 ('C', 3),
 ('D', 4),
 ('E', 5),
 ('F', 1),
 ('G', 2),
 ('H', 3),
 ('I', 4),
 ('J', 5),
 ('K', 1)]

## 데코레이터 (데커레이터)

In [ ]:
# 아래와 같이 실무에서 활용됩니다.

@로그인
def 비밀게시판():
    return render()

@check_vip
def vip용쿠폰():
    return render()

# 데이터 전처리 :
# 데이터에 이상치(이상한 값), 결측치(비어있는 값) 들을 처리
# ['10', 1, 2, 3, '20'] -> [10, 1, 2, 3, 20]
@데이터전처리
sum(data)

@데이터전처리후퍼센테이지
sum(data)

# [10, 20, 30] -> 60%

In [41]:
def one():
    return lambda x, y : x + y

더하기 = one()
더하기(10, 10)

20

In [43]:
def one():
    def two(x, y):
        return x + y
    return two

더하기 = one()
더하기(10, 10)

20

In [46]:
# 중요한 코드입니다.
# 손으로 2 ~ 3번 써보시길 권해드립니다.

def print_hello(func):
    def wrap_func():
        print('hello')
        func()
    return wrap_func

@print_hello
def func1():
    print('func1 입니다.')

func1()

hello
func1 입니다.

In [50]:
def 인사말(func):
    def wrap_func():
        print('안녕하세요')
        func()
    return wrap_func

@인사말
def 자기소개1():
    print('김영조 입니다.')

@인사말
def 자기소개2():
    print('홍길동 입니다.')

def 작별인사():
    print('안녕히계세요.')

자기소개1()
자기소개2()
작별인사()

안녕하세요
김영조 입니다.
안녕하세요
홍길동 입니다.
안녕히계세요.

In [55]:
def 인사말(func):
    def wrap_func():
        print('안녕하세요.')
        func()
    return wrap_func

def 자기소개1():
    print('이호준입니다.')

def 자기소개2():
    print('홍길동입니다.')

def 작별인사():
    print('안녕히계세요.')

인사말(자기소개1)()
인사말(자기소개2)()
작별인사()

안녕하세요.
이호준입니다.
안녕하세요.
홍길동입니다.
안녕히계세요.

In [51]:
def 인사말(func):
    def wrap_func(이름):
        print('안녕하세요')
        func(이름)
    return wrap_func

@인사말
def 자기소개1(name):
    print(f'{name} 입니다.')

@인사말
def 자기소개2(name):
    print(f'{name} 입니다.')

def 작별인사():
    print('안녕히계세요.')

자기소개1('김영조')
자기소개2('홍길동')
작별인사()

안녕하세요
김영조 입니다.
안녕하세요
홍길동 입니다.
안녕히계세요.

In [54]:
def 인사말(func):
    def wrap_func(이름):
        print('안녕하세요.')
        func(이름)
    return wrap_func

def 자기소개1(name):
    print(f'{name} 입니다.')

def 자기소개2(name):
    print(f'{name} 입니다.')

def 작별인사():
    print('안녕히계세요.')

인사말(자기소개1)('김영조')
인사말(자기소개2)('홍길동')
작별인사()

안녕하세요.
김영조 입니다.
안녕하세요.
홍길동 입니다.
안녕히계세요.

In [59]:
def 전처리(func):
    def wrap_func(iterable):
        iterable = list(map(int, iterable))
        print(func(iterable))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

2.5

In [60]:
def 전처리(func):
    def wrap_func(iterable):
        return func(list(map(int, iterable)))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

2.5

In [63]:
def 전처리(func):
    def wrap_func(iterable):
        i = list(map(int, iterable))
        calculate = func(i)
        result = str(calculate) + '%'
        return result 
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

'2.5%'

In [71]:
# 데코레이터 실습 문제
# 다음 값이 들어갔을 때, 숫자만 모두 더하는 코드를 완성하세요.
l = ['10', True, False, '21', 0, 10, 20]

def 전처리(func):
    def sum_func(변수):
        return func(list(filter(lambda x : type(x) == int, 변수)))
    return sum_func

@전처리
def custom_sum(변수):
    return sum(변수)

custom_sum(l)

30

In [72]:
def decorator1(func):
    def wrapper():
        print('decorator1')
        func()
    return wrapper
 
def decorator2(func):
    def wrapper():
        print('decorator2')
        func()
    return wrapper
 
# 데코레이터를 여러 개 지정
@decorator1
@decorator2
def hello():
    print('hello')
 
hello()

decorator1
decorator2
hello

## 모듈과 패키지

In [ ]:
# 연습1 (파일 1개 생성)

# 현재 폴더에 test1.py 파일을 생성했고
# name = 'leehojun'
# age = 10

# def hello():
#     pass

# class Human():
#     pass

In [75]:
import test1

print(test1.name)
print(test1.hello())

leehojun
None

In [ ]:
# 연습 2 (파일 2개 생성
)
# 주의!! 같은 이름이 있었을 경우
# 마지막에 추가된 변수명으로 할당
# import * 는 더더욱 포함시키는 변수, 메서드, 클래스 명을 알 수 없기에
# 주의해서 사용해야 합니다.
from test1 import name
from test2 import name

print(name) # test2.name 출력

In [76]:
# 연습 3 (폴더 > 파일 생성)

# 폴더로 연습
# one 이라는 것이 여기서는 폴더입니다!
# two 가 file 이름이에요.
from one import two

print(two.name)

hello world

In [1]:
# 연습 4 (폴더 > 폴더 > 파일 생성)
# 런타임 재시작 하세요

from one.two import three

print(three.name)

김영조

In [1]:
# 연습 5

import test1 as t

t.hello()

hello world

In [ ]:
# Python 의 모듈
import pandas as pd
import numpy as np

In [5]:
!mkdir kimyeongjo

In [ ]:
!pip install 패키지이름

In [ ]:
!pip list # 결과창 길어서 삭제 패키지 확인하는 것

In [7]:
import random as rd #랜덤한 숫자 반환

rd.randint(0, 10)

1

## 파일 입출력

In [9]:
f = open('python.txt', 'w') # 파일모드 : r(read), w(write, 덮어씁니다.), a(append)
f.close()

In [10]:
f = open('python.txt', 'w')
s = 'hello\nworld'
f.write(s)
f.close()

In [25]:
data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]
'''
{
    'one' : 10,
    'two' : 20,
    'three' : 30
}
'''
f = open('data.json', 'w')
s = str(dict(zip(data1, data2)))
f.write(s)
f.close()

In [26]:
import json
text = f'/////////////// 업데이트 방법 //////////////\n\
// 1. 아래 데이터는 민감데이터로 크롤링에 의존하지 않는 데이터입니다.\n\
//    긴급할 경우 아래 데이터만 수정하여 push 해주세요.\n\
// 2. 크롤러_통합.py를 실행시키시고, 모두 push해주시면 됩니다.\n\
//    크롤러_세계확진자.js, koreaRegionalData.js가 뽑힙니다.\n\
// 3. 크롤러가 동작하지 않을 경우 수동업데이트해야 합니다.\n\
////////////////////////////////////////////\n\
// 존스홉킨스 : https://gisanddata.maps.arcgis.com/a\n\
// https://www.worldometers.info/coronavirus/\n\
// 질본 : http://ncov.mohw.go.kr/bdBoardLis\n\
// 선차트용 데이터 - 제주도청 제공\n\
var 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]


f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [28]:
import json

text = f'안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]

f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [27]:
text = f'//안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]

f = open('data.js', 'w')
s = str(dict(zip(data1,data2)))
s = text + s
f.write(s)
f.close()

In [30]:
text = f'//안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three',]
data2 = [10, 20, 30,]

f = open('data.js', 'w')
s = str(data1)
s = text + s
f.write(s)
f.close()

In [31]:
str(['one', 'two', 'three',])

"['one', 'two', 'three']"

## 파일 읽기

* readline() : 라인 별로 읽습니다.

In [33]:
f = open('python.txt', 'r')
while True:
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

hello

world

* readlines() : 전체 텍스트를 한번에 읽어옵니다.

In [35]:
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

hello

world

In [37]:
# 개행이 2번 되었던 이유는 print 함수가 이미 개행 옵션을 가지고 있기 때문입니다.
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line, end = '')
f.close()

hello
world

* read() : 파일 전체 내용을 읽어옵니다.

In [38]:
f = open('python.txt', 'r')
data = f.read()
print(data)
f.close()

hello
world

## 파일 입출력 심화 과정

* github(https://github.com/paullabkorea/xlsxwriter) 에서 모든 소스코드를 다운로드 받으실 수 있습니다.
* 무료책인 인공지능을 활용한 업무자동화 책(2021 Version Notion)을 활용하면 좀 더 활용성이 극대화된 코딩이 가능합니다.(크롤링, 워드파일 크롤링, PDF크롤링, 문자 보내기 등)
* 업무자동화 Notion 링크 : https://paullabworkspace.notion.site/2021-6192ed4219fc4e7a96e10b22cfa27c80

In [40]:
!pip3 install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.1.0-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.7/152.7 kB 4.4 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.0

In [ ]:
# openpyxl, xlrd, xlwt...
# 다른 사용자가 만든 모듈

In [1]:
import xlsxwriter

In [47]:
# 엑셀 파일 생성하기
workbook = xlsxwriter.Workbook('test.xlsx')

# 파일 안에 워크 시트 생성하기
worksheet = workbook.add_worksheet('test')

data = ['AA', 'BB', 'CC', 'DD']
worksheet.write('A1', data[0])
worksheet.write('B1', data[1])
worksheet.write('C1', data[2])
worksheet.write('D1', data[3])

worksheet.write('A2', 1)
worksheet.write('B2', 2)
worksheet.write('C2', 3)
worksheet.write('D2', 4)
            #(행, 열, 데이터)
worksheet.write(2, 0, 10)
worksheet.write(2, 1, 20)
worksheet.write(2, 2, 30)
worksheet.write(2, 3, 40)

workbook.close()

In [4]:
홍길동 = [33, 88, 24]
이호준 = [34, 66, 77]
김철수 = [78, 82, 36]
과목 = ['영어', '수학', '국어']
이름 = ['홍길동', '이호준', '김철수']

workbook = xlsxwriter.Workbook('점수.xlsx')
worksheet = workbook.add_worksheet('1반')

worksheet.write(0, 0, '이름')
worksheet.write(0, 4, '평균')

for i in range(len(과목)):
    worksheet.write(i+1, 0, 과목[i])

for i in range(len(홍길동)):
    worksheet.write(0, i+1, 이름[i])
    worksheet.write(1, i+1, 홍길동[i])
    worksheet.write(2, i+1, 이호준[i])
    worksheet.write(3, i+1, 김철수[i])

worksheet.write(1, 4, round(sum(홍길동) / len(홍길동), 2))
worksheet.write(2, 4, round(sum(이호준) / len(홍길동), 2))
worksheet.write(3, 4, round(sum(김철수) / len(홍길동), 2))

workbook.close()

## OS 모듈

In [65]:
import os

os.getcwd()

'/content'

In [66]:
os.listdir()

['.config',
 '점수.xlsx',
 'test.xlsx',
 'python.txt',
 'test1.py',
 '__pycache__',
 'data.js',
 'data.json',
 '.ipynb_checkpoints',
 'kimyeongjo',
 'one',
 'sample_data']

In [70]:
for i in os.listdir():
    if len(i.split('.')) >=2:
        if  i.split('.')[1] == 'py' or i.split('.')[1] == 'txt':
            print(i)

python.txt
test1.py

In [75]:
os.mkdir('hello') # 폴더를 생성할 일이 없습니다. # log 누적할 때

In [74]:
import glob

glob.glob("*.py")

['test1.py']

### advanced 문제

```python
@writefile
def add(a, b):
    return a + b

# writefile의 데코레이터 기능은 아래와 같은 형식으로 result.txt에 항상 저장되게 하는 것입니다.
# {
#     "a": 10,
#     "b": 20,
#     "a+b": 30
# }
```

In [ ]:
@writefile
def add(a, b):
    return a + b

## 파일 추가

* 오늘 접속자 수 기초통계를 엑셀파일로 뽑아주는 기능을 만들어주세요.
* 해당 엑셀을 PDF로 뽑는 기능도 만들어주세요.

## 클로저, 팩토리 함수

## 기초 역량 테스트

In [ ]:
# python 기초 역량 테스트 #1
원주율 = 3.141592
int(원주율)

3

In [ ]:
# python 기초 역량 테스트 #3
my_name = input("이름을 입력해주세요 : ")
print(f'안녕하세요. {my_name}입니다.')

이름을 입력해주세요 : 김영조
안녕하세요. 김영조입니다.

In [ ]:
# python 기초 역량 테스트 #5
num = int(input('숫자를 입력하세요 : '))
def divisor(num):
    l = []
    for i in range(1, num+1):
        if num % (i) == 0:
            l.append(i)
    return l

divisor(num)

숫자를 입력하세요 : 100

[1, 2, 4, 5, 10, 20, 25, 50, 100]

In [ ]:
# python 기초 역량 테스트 #6
def solution(l, a):
    return l.count(a)

solution(['a', 'b', 'c', 'a', 'a'], 'a') # 정답 3

3

In [ ]:
# python 기초 역량 테스트 #7
def solution(l):
    return sorted(l, key=lambda x:x[1], reverse=True)

solution([[10, 5], [20, 3], [30, 4], [40, 1]])
# 정답 : [[10, 5], [30, 4], [20, 3], [40, 1]]

[[10, 5], [30, 4], [20, 3], [40, 1]]

In [ ]:
# python 기초 역량 테스트 #8
def solution(l):
    return list(map(lambda x : x[0] - x[1], l))

solution([[10, 5], [20, 3], [30, 4], [40, 1]]) 
# 정답 : [[5], [17], [26], [39]]

[5, 17, 26, 39]

In [ ]:
# python 기초 역량 테스트 #9
def solution(s):
    return sum([int(i) for i in s])

solution('11123') 
# 정답 : 8

8

In [ ]:
# python 기초 역량 테스트 #10
def solution(s):
    return s.replace(' ', '').replace('!', '')

solution('!hello!wor     ld!     ') 
# 정답 : helloworld

'helloworld'