🧐 Python 출시 연도입니다. 여러분이 만약 2019년 이전에 나온 책을 보았다면 왈러스 연산자를 모르는 것이 당연합니다. 최신의 책(가능하면 인지도 있는 개정판 책)으로 공부하시는 것을 권해드립니다.

- Python 3.0: 2008년 12월
- Python 3.1: 2009년 6월
- Python 3.2: 2011년 2월
- Python 3.3: 2012년 9월
- Python 3.4: 2014년 3월
- Python 3.5: 2015년 9월(async와 await)
- Python 3.6: 2016년 12월(f-string)
- Python 3.7: 2018년 6월(dataclasses)
- Python 3.8: 2019년 10월
- Python 3.9: 2020년 10월

In [1]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

    def __repr__(self):
        return (f'{self.__class__.__qualname__}{self.id, self.name, self.email}')

user = User(123, 'hojun', 'hojun@gmail')
user
# User(123, 'hojun', 'hojun@gmail')

User(123, 'hojun', 'hojun@gmail')

In [2]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [3]:
# dict 결합연산자
x = {"key1": "value1"}
y = {"key2": "value2"}
z = x | y
z

{'key1': 'value1', 'key2': 'value2'}

In [5]:
x.update(y)

In [6]:
x

{'key1': 'value1', 'key2': 'value2'}

In [8]:
# JSON 형태에서는 아래처럼 + 연산자를 사용하는 경우가 종종 있었습니다.
# 과거형입니다.
list(x.items()) + list(y.items())

[('key1', 'value1'), ('key2', 'value2'), ('key2', 'value2')]

## 왈러스 연산자

In [9]:
# 기본적인 왈러스 연산자의 사용
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
# 왈러스 연산자가 없을 때의 코드
import random

while True:
    x = random.randint(0, 10)
    if x == 7:
        break
    print(x)

# 왈러스 연산자를 사용한 코드
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

In [11]:
count = 0
s = 0
while count <= 10:
    s += count
    count += 1
s

55

In [16]:
count = 0
s = 0
while (count := count + 1) <= 10:
    s += count
s

55

## f-string 중괄호 표현

In [17]:
# f-string (아래 문법들은 정규표현식에서 자주 사용됩니다.)

f'{{1, 2, 3}}'

'{1, 2, 3}'

In [18]:
# f-string

f'{{{1, 2, 3}}}'

'{(1, 2, 3)}'

In [19]:
1, 2, 3

(1, 2, 3)

In [20]:
one = 1
two = 2
three = 3

f'{{{one, two, three}}}'

'{(1, 2, 3)}'

In [21]:
one = 1

f'{{{one}}}'

'{1}'

## 독스트링

In [27]:
def add(a, b):
    """
    Add two numbers and return the result.

    Args:
        a (int or float): The first number.
        b (int or float): The second number.

    Returns:
        int or float: The sum of the two numbers.
    """
    return a + b

# google coding convention
def fetch_smalltable_rows(table_handle, keys, require_all_keys):
    """Fetches rows from a Smalltable.

    Retrieves rows pertaining to the given keys from the Table instance
    represented by table_handle.  String keys will be UTF-8 encoded.

    Args:
        table_handle: An open smalltable.Table instance.
        keys: A sequence of strings representing the key of each table
          row to fetch.  String keys will be UTF-8 encoded.
        require_all_keys: If True only rows with values set for all keys will be
          returned.

    Returns:
        A dict mapping keys to the corresponding table row data
        fetched. Each row is represented as a tuple of strings. For
        example:

        {b'Serak': ('Rigel VII', 'Preparer'),
         b'Zim': ('Irk', 'Invader'),
         b'Lrrr': ('Omicron Persei 8', 'Emperor')}

        Returned keys are always bytes.  If a key from the keys argument is
        missing from the dictionary, then that row was not found in the
        table (and require_all_keys must have been False).

    Raises:
        IOError: An error occurred accessing the smalltable.
    """
fetch_smalltable_rows

## 컴프리헨션

In [28]:
# 딕셔너리 컴프리헨션
square_dict = {x: x**2 for x in range(5)}  # 0부터 4까지의 수를 키로, 그 제곱을 값으로 하는 딕셔너리 생성

In [30]:
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [32]:
books = ['python', 'javascript', 'html/css']
book_dict = {book: inx for inx, book in enumerate(books)}
book_dict

{'python': 0, 'javascript': 1, 'html/css': 2}

In [47]:
# 문제 : {'python': 10000000. 'javascript': 24000000, 'html/css': 39000000}
books = [('python', 1000, '10000원'), ('javascript', 2000, '12000원'), ('html/css', 3000, '13000원')]
book_dict = {book: count * int(price[:-1]) for book, count, price in books}
book_dict

{'python': 10000000, 'javascript': 24000000, 'html/css': 39000000}

## 제너레이터와 이터레이터
- 메모리 효율이 좋음

In [53]:
# 제너레이터 컴프리헨션
square_gen = (i for i in range(2, 1000, 2))
for i, j in zip(range(10), square_gen):
    print(i, j)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20

### 이터레이터

In [ ]:
class MyIterator:
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop

    def __iter__(self):
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

### 제너레이터

In [54]:
# 제너레이터 컴프리헨션에서 사용한 문법을 함수형태로 구현
def count():
    count = 2
    while True:
        yield count
        count += 2

for i, j in zip(range(10), count()):
    print(i, j)

0 2
1 4
2 6
3 8
4 10
5 12
6 14
7 16
8 18
9 20

In [ ]:
# zip 은 매직메서드 __iter__ 에서 리셋을 안해줘서 한번밖에 순회를 못 돔
class MyIterator:
    def __init__(self, stop):
        self.stop = stop

    def __iter__(self):
        self.currentValue = 0
        return self

    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration
        result = self.currentValue
        self.currentValue += 1
        return result

my_iterator = MyIterator(5)

for i in my_iterator:
    print(i)

for i in my_iterator:
    print(i)

# 결국 for는 iter먼저 실행하고, next로 StopIteration
# i = iter(li)
# next(i)

## collection 모듈

### deque 함수

In [55]:
from collections import deque

d = deque()
d.append('a')  # 오른쪽 끝에 추가
print(d)
d.appendleft('b')  # 왼쪽 끝에 추가
print(d)
d.pop()  # 오른쪽 끝 요소 제거
print(d)
d.popleft()  # 왼쪽 끝 요소 제거
print(d)

deque(['a'])
deque(['b', 'a'])
deque(['b'])
deque([])

### Counter 함수

In [56]:
from collections import Counter

c = Counter('hello world')
print(c)  # 출력: Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

## 클로저

In [58]:
# 클로저가 아닌경우
def outer_function():
    def inner_function():
        return 100+100
    return inner_function

# 클로저
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

inner = outer_function(100) # x = 100 이 휘발되지 않음
inner(200)

300

## 데코레이터

In [59]:
def simple_decorator(function):
    def wrapper():
        print("Before the function call")
        function()
        print("After the function call")
    return wrapper

@simple_decorator
def hello():
    print("Hello, World!")

hello() # 데코레이터가 없는 상태에서는 simple_decorator(hello)() 와 같다

Before the function call
Hello, World!
After the function call