* 순열과 조합이 쓰이는 문제는 '완전 탐색' 문제에서 주로 사용이 됩니다. 아래와 같은 문제도 '완전 탐색'으로 손쉽게 풀 수 있습니다. 단, 효율이 좋지는 않습니다.

* https://school.programmers.co.kr/learn/courses/30/lessons/120956

## 순열

* 순서를 정해서 나열한다. (nPr)

In [1]:
from itertools import permutations

permutations([1,2,3,4], 2) # 순회 가능한 객체만 생성

In [6]:
from itertools import permutations

list(permutations([1,2,3,4], 2)) +\
list(permutations([1,2,3,4], 3)) +\
list(permutations([1,2,3,4], 4))

# list(permutations(range(1, 5), 4))
# list(permutations('hello', 4))

[(1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (1, 2, 3),
 (1, 2, 4),
 (1, 3, 2),
 (1, 3, 4),
 (1, 4, 2),
 (1, 4, 3),
 (2, 1, 3),
 (2, 1, 4),
 (2, 3, 1),
 (2, 3, 4),
 (2, 4, 1),
 (2, 4, 3),
 (3, 1, 2),
 (3, 1, 4),
 (3, 2, 1),
 (3, 2, 4),
 (3, 4, 1),
 (3, 4, 2),
 (4, 1, 2),
 (4, 1, 3),
 (4, 2, 1),
 (4, 2, 3),
 (4, 3, 1),
 (4, 3, 2),
 (1, 2, 3, 4),
 (1, 2, 4, 3),
 (1, 3, 2, 4),
 (1, 3, 4, 2),
 (1, 4, 2, 3),
 (1, 4, 3, 2),
 (2, 1, 3, 4),
 (2, 1, 4, 3),
 (2, 3, 1, 4),
 (2, 3, 4, 1),
 (2, 4, 1, 3),
 (2, 4, 3, 1),
 (3, 1, 2, 4),
 (3, 1, 4, 2),
 (3, 2, 1, 4),
 (3, 2, 4, 1),
 (3, 4, 1, 2),
 (3, 4, 2, 1),
 (4, 1, 2, 3),
 (4, 1, 3, 2),
 (4, 2, 1, 3),
 (4, 2, 3, 1),
 (4, 3, 1, 2),
 (4, 3, 2, 1)]

In [ ]:
list(permutations(["aya", "ye", "woo", "ma"], 1)) +\
list(permutations(["aya", "ye", "woo", "ma"], 2)) +\
list(permutations(["aya", "ye", "woo", "ma"], 3)) +\
list(permutations(["aya", "ye", "woo", "ma"], 4))

In [ ]:
순열 = list(permutations(["aya", "ye", "woo", "ma"], 1)) +\
list(permutations(["aya", "ye", "woo", "ma"], 2)) +\
list(permutations(["aya", "ye", "woo", "ma"], 3)) +\
list(permutations(["aya", "ye", "woo", "ma"], 4))

순열집합 = []

for i in 순열:
    순열집합.append(''.join(i))

순열집합

In [11]:
count = 0
for i in ["ayaye", "uuuma", "ye", "yemawoo", "ayaa"]:
    if i in 순열집합:
        count += 1

count

3

## 조합

* 순서를 정하지 않고 나열한다. (nCr)

In [12]:
from itertools import combinations

combinations([1, 2, 3, 4], 2)

In [13]:
from itertools import combinations

list(combinations([1, 2, 3, 4], 2))

[(1, 2), (1, 3), (1, 4), (2, 3), (2, 4), (3, 4)]

In [14]:
from itertools import combinations

list(combinations('hello', 2))

[('h', 'e'),
 ('h', 'l'),
 ('h', 'l'),
 ('h', 'o'),
 ('e', 'l'),
 ('e', 'l'),
 ('e', 'o'),
 ('l', 'l'),
 ('l', 'o'),
 ('l', 'o')]